
<div ng-controller="InstitucionesCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Campus
          
          <small>Campus</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Campus</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Campus</h2>
            </div>
        
            <div class="box-body">
                <div class="row" id='nuevo'>
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevoInstituto()">
                            <i class="fa fa-bank"></i> Nuevo Campus
                        </button>
                        <span class="switch switch-lg pull-right">
                            <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getInstitutos()">
                            <label for="switch-id">Historico</label>               
                        </span>
                        
                    </div>
                </div>
              
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                            
    
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                <th width="10%">Ctrl</th>
                                <th width="50%">Campus</th>
                                <th width="15%">Estatus</th>
                                <th width="20%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th width="5%">#</th>
                                <th width="10%">Ctrl</th>
                                <th width="50%">Campus</th>
                                <th width="15%">Estatus</th>
                                <th width="20%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                <tr ng-repeat="Sucursales in arraySucursales">
                                    <td>{{$index+1}}</td>
                                    <td>{{Campus._idCampus}}</td>
                                    <td>{{Campus.Campus}}</td>
                                    <td ><span class="label label-{{Instituto.Estatus=='1'? 'success':'danger'}}">{{Campus.Estatus == "1"? "Activo":"Baja"}}</span></td>
                                    
                                    <td>
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Campus)"> 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                        <button type="button" id="btnBaja" name="btnBaja" class="btn btn-{{Campus.Estatus=='1'? 'danger':'success'}}"
                                         ng-click="Campus.Estatus==='1'? btnBaja(Campus) : btnAlta(Campus) "> 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   