
<div ng-controller="InstitucionesCtrl">
<section class="content-header">
    <h1>
      <i class="fa fa-institution"></i> Instituciones
      
      <small>Instituciones</small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Instituciones</li>
    </ol>
</section>

<section class="content" >
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Catalogo de Instituciones</h2>
        </div>
    
        <div class="box-body">
            <div class="row" id='nuevo'>
                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <a  href = "?mod=Instituciones&opc=nuevo"><button  type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo">
                        <i class="fa fa-bank"></i> Nueva Institucion
                    </button></a>
                    <span class="switch switch-lg pull-right">
                        <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getInstitutos()">
                        <label for="switch-id">Historico</label>               
                    </span>
                    
                </div>
            </div>
          
            <br>
            <div class="col-md-12">
                <div class="table-responsive">
                        

                    <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                    <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                    <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                        <thead>
                            <th width="5%">#</th>
                            <th width="10%">Ctrl</th>
                            <th width="50%">Institucion</th>
                            <th width="15%">Estatus</th>
                            <th width="20%">Acciones</th>
                        </thead>
                        <tfoot>
                            <th width="5%">#</th>
                            <th width="10%">Ctrl</th>
                            <th width="50%">Institucion</th>
                            <th width="15%">Estatus</th>
                            <th width="20%">Acciones</th>
                        </tfoot>
                        <tbody id='listadocarreras'>
                            <tr ng-repeat="Instituto in arrayInstituciones">
                                <td>{{$index+1}}</td>
                                <td>{{Instituto._idInstitucion}}</td>
                                <td>{{Instituto.Institucion}}</td>
                                <td ><span class="label label-{{Instituto.Estatus=='1'? 'success':'danger'}}">{{Instituto.Estatus == "1"? "Activo":"Baja"}}</span></td>
                                
                                <td>
                                    <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Instituto._id)"> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                    <button type="button" id="btnBaja" name="btnBaja" class="btn btn-{{Instituto.Estatus=='1'? 'danger':'success'}}"
                                     ng-click="Instituto.Estatus==='1'? btnBaja(Instituto) : btnAlta(Instituto) "> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Ventana modal-->
    <div class="modal fade" id="ModalInstituto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear nueva institucion</h4>
                </div>
                <div class="modal-body">
                    <form action="" name='frmnewInstitucion' id='frmnewInstitucion'>
                        <div class="row">
                                <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                                        <label for="">Id</label>
                                        <input type="text" name='_idInstitucion' id='_idInstitucion' class='form-control' 
                                        ng-model="Instituto._idInstitucion" />
                                    </div> 
                                    <div class="col-xs-9 col-md-9 col-lg-9 col-sm-9">
                                        <label for="">Institucion</label>
                                        <input type="text" name='Institucion' id='Institucion' class='form-control' 
                                        ng-model="Instituto.Institucion" />
                                    </div>                  
                                           
                        </div
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                            ng-click="Instituto.opc==='new'? btnGuardarInstituto():btnEditarInstituto()">
                        {{Instituto.opc==='new'? "Crear ": "Editar "}}institucion
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>