<div ng-controller="InstitucioneseditCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> EDITAR INSTITUCION
          
          <small>Instituto</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-institution"></i> Inicio</a></li>
          <li><a href="?mod=Instituciones"><i class="fa fa-institution"></i> campus</a></li>
          <li class="active">Editar instituto</li>
        </ol>
    </section>
    
    <section class="content"  ng-init="Institucion.id= '{id}'" >
            <form action="" method='POST' name='frmProfesores' id='frmProfesores'  enctype="multipart/form-data">
                <div class="box box-info">
                    <div class="box-header">
                        <h2 class="box-title">Llenar obligatoriamente todos los campos</h2>
                    </div>
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-user"></i> Datos de la institucion</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
        
                            <div class="col-md-2">
                                <div class="Control-group">
                                    <label for="txtid">Id<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtid' id='txtid' placeholder='identificador unico' class='form-control'
                                    ng-model="Instituto._idInstitucion" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="Control-group">
                                    <label for="txtInstitucion">Nombre de la institucion <small class='text-red'>*</small></label>
                                    <input type="text" name='txInstitucion' id='txtInstitucion' placeholder='Nombre completo de la institucion' class='form-control' 
                                    ng-model="Instituto.Institucion" ng-disabled="formEnabled"/>
                                </div>
                            </div>
<!--                            <div class='col-md-5'>
                                <label for="slcEntidadFederativa">Entidad Federativa</label>
                                <select ng-disabled="formEnabled" name="slcEntidadFederativa" id="slcEntidadFederativa"  class="form-control"ng-model="Instituto._idEntidadFederativa" >
                                    <optgroup label="Selecciona entidad federativa">
                                        <option  ng-repeat="Entidad in arrayEntidad" value="{{Entidad._id}}">{{Entidad.NOM_ENT}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>-->
                        </div>
                        <div class="box-header">
                            <h2 class="box-title"><i class="fa fa-user"></i> Datos del responsable</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="Control-group">
                                    <label for="txtnombre">Nombres(s)<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtnombre' id='txtnombre' placeholder='Nombres (s)' class='form-control'
                                    ng-model="Instituto.Nombre" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="Control-group">
                                    <label for="txtAp_Paterno">Apellido paterno<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtAp_Paterno' id='txtnotxtAp_Paternombre' placeholder='Primer apellido' class='form-control'
                                    ng-model="Instituto.Ap_Paterno" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-4 col-lg-4">
                                <div class="Control-group">
                                    <label for="txtAp_Materno">Apellido materno<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtAp_Materno' id='txtAp_Materno' placeholder='Segundo apellido' class='form-control'
                                    ng-model="Instituto.Ap_Materno" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-3 col-lg-3">
                                <div class="Control-group">
                                    <label for="txtCurp">CURP<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtCurp' id='txtCurp' placeholder='CURP' class='form-control'
                                    ng-model="Instituto.CURP" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class='col-md-3 col-xs-3 col-lg-3'>
                                <label for="slcCargo">Cargo</label>
                                <select ng-disabled="formEnabled" name="slcCargo" id="slcCargo"  class="form-control"ng-model="Instituto._idCargo" >
                                    <optgroup label="Selecciona entidad federativa">
                                        <option  ng-repeat="Cargo in arrayCargo" value="{{Cargo._id}}">{{Cargo.Cargo_firmante}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <label class="custom-file-label" for="myFileKey">Certificados digitales *.key</label>
                                <div class="custom-file">
                                     <input type="file" class="custom-file-input" name="myFileKey" id="myFileKey"  ng-model="Instituto.key" ng-disabled="formEnabled">
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <label for="slcCargo">Certificados digitales *.cer</label> 
                                <div class="Control-group">
                                    <input type="file" name="myFileCer"  ng-model="Instituto.cer" ng-disabled="formEnabled">
                                </div>
                            </div>
                    
                        </div>
                        <div class="box-header">
                            <h2 class="box-title"><i class="fa fa-folder"></i> Datos del certificado</h2>
                        </div>
                        <div class="row col-lg-12 col-md-12 col-xs-12">
                            <div class="col-md-2 col-xs-2 col-lg-2">
                                <div class="Control-group">
                                    <label for="txtNoCertificado">No.Certificado Responsable<small class='text-red'>*</small> </label>
                                    <input type="text" name='txtNoCertificado' id='txtNoCertificado' placeholder='Numero de certificado' class='form-control'
                                    ng-model="Instituto.NoCertificadoResponsable" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                        </div>
                        <div class="row col-lg-12 col-md-12 col-xs-12">
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                <div class="Control-group">
                                    <label for="txtCertificadoResponsable">Certificado Responsable<small class='text-red'>*</small> </label>
                                    <textarea type="text"rows="5" cols="100" name='txtCertificadoResponsable' id='txtCertificadoResponsable' placeholder='Certificado responsable' class='form-control'
                                    ng-model="Instituto.CertificadoResponsable" ng-disabled="formEnabled"></textarea>
                                </div>
                            </div>
                       
                            </div>
                     </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button type="button" class='btn btn-success form-control' name='btnguardar'
                                 id='btnEditar' ng-click="btnUpdateInstitucion(Instituto)"><i class="fa fa-save"></i>
                                 Editar institucion</button>
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                            </div>
        
                        </div>   
                    </div>
        
                </div>
            </div>
        </form>
    </section>
    
   </div>