<div ng-controller="FundamentosCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Fundamento legal de servicio social
          
          <small>Catalogo</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Fundamento</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Catalogo fundamento legal de servicio social</h2>
            </div>
            <div class="box-body">
                <div class="row" id='nuevo'>
    <!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        {sucursales}
                       
                    </div>-->
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevoFundamento()">
                            <i class="fa fa-map"></i> Nuevo fundamento
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                
                                <th width="60%">Fundamento legal de servicio social</th>
                                <th width="25%">Acciones</th>
                            </thead>
                            <tfoot>
                            <th width="5%">#</th>
                               
                                <th width="60%">Fundamento legal de servicio social</th>
                                <th width="25%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                      <tr ng-repeat="Fundamento in arrayFundamentos">
                                    <td>{{$index+1}}</td>
                                    
                                    <td>{{Fundamento.Fundamento_legal_servicio_social}}</td>
                                    <td>
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Fundamento)" > 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <!-- Ventana modal-->
        <div class="modal fade" id="ModalFundamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Crear fundamento legal</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                            <div class="row">
                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                    <label for="">Fundamento legal de servicio social</label>
                                    <input type="text" name='txtFirmante' id='txtFirmante' class='form-control' ng-model="Fundamento.Fundamento_legal_servicio_social" />
                                </div>
                                               
                            </div
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                                ng-click="Fundamento.opc==='new'? btnGuardarFundamento():btnEditarFundamento()">
                                {{Fundamento.opc==='new'? "Crear ": "Editar "}}Fundamento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>