/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/05/2018, 08:34:02 AM
    Author     : Redes Sociales
*/
.oculto{
    display: none;
}

#mapa{
    width: 100%; 
    height: 500px;
}
