<div ng-controller="EditarCarreraCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> EDITAR CARRERA
          
          <small>Carrera</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Carreras"><i class="fa fa-institution"></i> Carrera</a></li>
          <li class="active">Editar carrera</li>
        </ol>
    </section>
    
    <section class="content"  ng-init="_idCarrera.id= '{id}'" >
            <form action="" method='POST' name='frmCarreras' id='frmCarreras'  enctype="multipart/form-data">
                <div class="box box-info" ng-init="rol = '{rol}'">
                    <div class="box-header">
                        <h2 class="box-title">Llenar obligatoriamente todos los campos</h2>
                    </div>
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-user"></i> Datos de la carrera</h2>
                    </div>
                    <div class="box-body">
                            <div class="row">

                                    <div class="col-md-2">
                                        <div class="Control-group">
                                            <label for="txtIdCarrera">Id de carrera <small class='text-red'>*</small></label>
                                            <input type="text" name='txtIdCarrera' id='txtIdCarrera' placeholder='Identicador de carrera' class='form-control'
                                                    ng-model="editCarrera._idCarrera" ng-show="editar"/>
                                            <span class="form-control" ng-hide="editar"> {{editCarrera._idCarrera}}</span>
                                        </div>
                                    </div>
    
                                    <div class="col-md-2">
                                        <div class="Control-group">
                                            <label for="txtcveCarrera">CVE <small class='text-red'>*</small></label>
                                            <input type="text" name='txtcveCarrera' id='txtcveCarrera' placeholder='CVE' class='form-control'
                                                    ng-model="editCarrera.cveCarrera" ng-show="editar"/>
                                            <span class="form-control" ng-hide="editar">{{editCarrera.cveCarrera}}</span>
                                        </div>
                                    </div>
    
                                    <div class="col-md-8">
                                        <div class="Control-group">
                                            <label for="txtCarrera">Nombre de la carrera<small class='text-red'>*</small> </label>
                                            <input type="text" name='txtCarrera' id='txtCarrera' placeholder='Nombre completo de la carrera' class='form-control'
                                                   ng-model="editCarrera.Carrera" ng-show="editar"/>
                                                <span class="form-control" ng-hide="editar">{{editCarrera.Carrera}}</span>
                                        </div>
                                    </div>
    
                                    <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txtRvoe">RVOE <small class='text-red'>*</small></label>
                                            <input type="text" name='txtRvoe' id='txtRvoe' placeholder=' Reconocimiento de Validez Oficial de Estudios' class='form-control' 
                                            ng-model="editCarrera.Rvoe" ng-show="editar"/>
                                            <span class="form-control" ng-hide="editar">{{editCarrera.Rvoe}}</span>
                                        </div>
                                    </div>
                                    <div class='col-md-3'>
                                        <label for="slcTipoAutorizacion">Autorizacion Reconocimiento<small class='text-red'>*</small></label>
                                          <select    name="slcTipoAutorizacion" id="slcTipoAutorizacion"  class="form-control"ng-model="editCarrera._idAutorizacionReconocimiento" ng-show="editar">
                                              <optgroup label="Selecciona Autorizacion Reconocimiento">
                                                  <option ng-repeat="Autorizacion in arrayAutorizacion" value="{{Autorizacion._id}}">{{Autorizacion.Autorizacion_reconocimiento}}</option>                                    
                                              </optgroup>
                                          </select>
                                          <span class="form-control" ng-hide="editar">{{editCarrera._idAutorizacionReconocimiento}}</span>
                                </div>
    
                                    <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Fecha de expedicion del RVOE <small class='text-red'>*</small></label>
                                            <input  type="text" name="txtfecheExpedicionRVOE" id="txtfecheExpedicionRVOE"
                                                   ng-model="editCarrera.FechaExpedicionRVOE"  ng-show="editar" class="form-control calendario" placeholder="0000-00-00"  />
                                                   <span class="form-control" ng-hide="editar">{{editCarrera.FechaExpedicionRVOE}}</span>
                                        </div>
                                    </div>
    
                                    <div class='col-md-3'>
                                            <label for="slcTipoPeriodo">Tipo Periodo<small class='text-red'>*</small></label>
                                              <select    name="slcTipoPeriodo" id="slcTipoPeriodo"  class="form-control"ng-model="editCarrera._idTipoPeriodo" ng-show="editar">
                                                  <optgroup label="Selecciona tipo periodo">
                                                      <option ng-repeat="Periodo in TipoPeriodo" value="{{Periodo._id}}">{{Periodo.Tipo_Periodo}}</option>                                    
                                                  </optgroup>
                                              </select>
                                              <span class="form-control" ng-hide="editar">{{editCarrera._idTipoPeriodo}}</span>
                                    </div>
    
                                    <div class="col-md-6">
                                            <div class="Control-group">
                                                <label for="txtCalvePlan">Clave plan<small class='text-red'>*</small></label>
                                                <input  type="text" name="txtCalvePlan" id="txtCalvePlan" ng-model="editCarrera.ClavePlan" 
                                                class="form-control " placeholder="Año"  ng-show="editar"/>
                                                <span class="form-control" ng-hide="editar">{{editCarrera.ClavePlan}}</span>
                                            </div>
                                    </div>
    
                                    <div class='col-md-6'>
                                            <label for="slcNivelEstudos">Nivel de estudios<small class='text-red'>*</small></label>
                                            <select   name="slcNivelEstudos" id="slcNivelEstudos"  class="form-control"ng-model="editCarrera._idNivelEstudios" ng-show="editar">
                                                <optgroup label="Selecciona nivel de estudios">
                                                    <option ng-repeat="Nivel in NivelEstudios" value="{{Nivel._id}}">{{Nivel.Descripcion}}</option>                                    
                                                </optgroup>
                                            </select> 
                                            <span class="form-control" ng-hide="editar">{{editCarrera._idNivelEstudios}}</span>
                                    </div>
    
                                    <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Calificacion minima<small class='text-red'>*</small></label>
                                            <input  type="text" name="txtfechanac" id="txtfechanac" ng-model="editCarrera.CalificacionMinima" 
                                            class="form-control " placeholder="5"  ng-show="editar"/>
                                        </div>
                                        <span class="form-control" ng-hide="editar">{{editCarrera.CalificacionMinima}}</span>
                                    </div>
    
                                    <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Calificacion maxima<small class='text-red'>*</small></label>
                                            <input  type="text" name="txtfechanac" id="txtfechanac" ng-model="editCarrera.CalificacionMaxima" 
                                            class="form-control " placeholder="10"  ng-show = "editar"/>
                                            <span class="form-control" ng-hide="editar">{{editCarrera.CalificacionMaxima}}</span>
                                        </div>
                                    </div>
    
    
                                    <div class="col-md-3">
                                            <div class="Control-group">
                                                <label for="txttipo">Calificacion aprobatoria<small class='text-red'>*</small></label>
                                                <input type="text" name="txtfechanac" id="txtfechanac" ng-model="editCarrera.CalificacionMinimaAprobatoria" 
                                                class="form-control " placeholder="7" ng-show="editar" />
                                                <span class="form-control" ng-hide="editar">{{editCarrera.CalificacionMinimaAprobatoria}}</span>
                                            </div>
                                    </div>
    
    
                                    <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txtcveCarrera">Modulos <small class='text-red'>*</small></label>
                                            <input type="text" name='txtModulos' id='txtModulos' placeholder='No de semestres, Cuatrimestres, etc...' class='form-control'
                                            ng-model="editCarrera.Modulos" ng-disabled="formEnabled" ng-show="editar"/>
                                            <span class="form-control" ng-hide="editar"></span>
                                        </div>
                                    </div>
                                
    
                             
                            </div>
                        <hr />
                        <div class="row" ng-repeat="mod in getGrados(editCarrera.Modulos)">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <h3>Modulo {{mod + 1}}</h3>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <button type="button" class="btn btn-primary pull-right" ng-click="btnagregarAsignatura(mod)" ng-show="editar">Agregar materia</button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <th width="5%">#</th>
                                            <th width="10%">Id Asignatura</th>
                                            <th width="40%">Nombre de la Asignatura</th>
                                            <th width="10%">Clave</th>
                                            <th width="5%">Creditos</th>
                                            <th width="20%">Tipo</th>
                                            <th width="10%">Actividad</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mat in Asignaturas.grados[mod]">
                                                <td>{{$index+1}}</td>
                                                <td><input type="text"  ng-model="mat.materia.id_Asignatura" class="form-control" ng-show="editar"/><span ng-hide="editar">{{mat.materia.id_Asignatura}}</span></td>
                                                <td><input type="text"  ng-model="mat.materia.Asignatura" class="form-control" ng-show="editar"/><span ng-hide="editar">{{mat.materia.Asignatura}}</span></td>
                                                <td><input type="text"  ng-model="mat.materia.Clave_asignatura" class="form-control" ng-show="editar"/><span ng-hide="editar">{{mat.materia.Clave_asignatura}}</span></td>
                                                <td><input type="text"  ng-model="mat.materia.Creditos" class="form-control" ng-show="editar"/><span ng-hide="editar">{{mat.materia.Creditos}}</span></td>
                                                <td><select ng-model="mat.materia._id_tipoAsignatura" class="form-control" ng-show="editar">
                                                        <optgroup label="Seleccion el tipo de Asignatura">
                                                            <option ng-repeat="tipo in Tipo_Asignaturas" value="{{tipo.idTipoAsignatura}}">{{tipo.Descripcion}}</option>
                                                        </optgroup>
                                                    </select><span ng-hide="editar">{{getTipoasignatura(mat.materia._id_tipoAsignatura)}}</span></td>
                                                <td><button type="button" class="btn btn-danger" ng-show="editar" ng-click="btnEliminarMateria(mat, mod)"><i class="fa fa-remove"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
        
                     </div>
                <div class="box-footer" ng-hide="boton" >
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button  type="button" class="btn btn-success form-control" name='btneditCarrera'
                                 id='btneditCarrera' ng-click="btnEditarCarrera()"><i class="fa fa-save"></i>
                                 Editar carrera</button>
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                            </div>
        
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" name='opc' id='opc' value='new' />
                        </div>
                       
                    </div>
        
                </div>
            </form>
        
    </section>
    
</div>