<div ng-controller="CarrerasCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> NUEVA CARRERA
          
          <small>Carrera</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Carreras"><i class="fa fa-institution"></i> Carrera</a></li>
          <li class="active">Nueva carrera</li>
        </ol>
    </section>
    
    <section class="content"  ng-init="Campus.id= '{id}'" >
            <form action="" method='POST' name='frmCarreras' id='frmCarreras'  enctype="multipart/form-data">
                <div class="box box-info">
                    <div class="box-header">
                        <h2 class="box-title">Llenar obligatoriamente todos los campos </h2>
                    </div>
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-user"></i> Datos de la carrera</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">

                                <div class="col-md-2">
                                    <div class="Control-group">
                                        <label for="txtIdCarrera">Id de carrera <small class='text-red'>*</small></label>
                                        <input type="text" name='txtIdCarrera' id='txtIdCarrera' placeholder='Identicador de carrera' class='form-control'
                                                ng-model="Carrera._idCarrera" ng-disabled="formEnabled"/>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="Control-group">
                                        <label for="txtcveCarrera">CVE <small class='text-red'>*</small></label>
                                        <input type="text" name='txtcveCarrera' id='txtcveCarrera' placeholder='CVE' class='form-control'
                                                ng-model="Carrera.cveCarrera" ng-disabled="formEnabled"/>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="Control-group">
                                        <label for="txtCarrera">Nombre de la carrera<small class='text-red'>*</small> </label>
                                        <input type="text" name='txtCarrera' id='txtCarrera' placeholder='Nombre completo de la carrera' class='form-control'
                                               ng-model="Carrera.Carrera" ng-disabled="formEnabled"/>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="Control-group">
                                        <label for="txtRvoe">RVOE <small class='text-red'>*</small></label>
                                        <input type="text" name='txtRvoe' id='txtRvoe' placeholder=' Reconocimiento de Validez Oficial de Estudios' class='form-control' 
                                        ng-model="Carrera.Rvoe" ng-disabled="formEnabled"/>
                                    </div>
                                </div>
                    

                            <div class='col-md-5'>
                                <label for="slcTipoAutorizacion">Autorizacion Reconocimiento<small class='text-red'>*</small></label>
                                  <select  ng-disabled="formEnabled"  name="slcTipoAutorizacion" id="slcTipoAutorizacion"  class="form-control"ng-model="Carrera._idAutorizacionReconocimiento" >
                                      <optgroup label="Selecciona autorizacioin de reconocimiento">
                                          <option ng-repeat="Autorizacion in arrayAutorizacion" value="{{Autorizacion._id}}">{{Autorizacion.Autorizacion_reconocimiento}}</option>                                    
                                      </optgroup>
                                  </select> 
                        </div>

                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txttipo">Fecha de expedicion del RVOE <small class='text-red'>*</small></label>
                                        <input ng-disabled="formEnabled" type="text" name="txtFechaExpedicionRVOE" id="txtFechaExpedicionRVOE"
                                               ng-model="Carrera.FechaExpedicionRVOE" class="form-control calendario" placeholder="0000-00-00"  />
                                    </div>
                                </div>

                                <div class='col-md-5'>
                                        <label for="slcTipoPeriodo">Tipo Periodo<small class='text-red'>*</small></label>
                                          <select  ng-disabled="formEnabled"  name="slcTipoPeriodo" id="slcTipoPeriodo"  class="form-control"ng-model="Carrera._idTipoPeriodo" >
                                              <optgroup label="Selecciona tipo periodo">
                                                  <option ng-repeat="Periodo in TipoPeriodo" value="{{Periodo._id}}">{{Periodo.Tipo_Periodo}}</option>                                    
                                              </optgroup>
                                          </select> 
                                </div>

                                <div class="col-md-6">
                                        <div class="Control-group">
                                            <label for="txtCalvePlan">Clave plan<small class='text-red'>*</small></label>
                                            <input ng-disabled="formEnabled" type="text" name="txtCalvePlan" id="txtCalvePlan" ng-model="Carrera.ClavePlan" 
                                            class="form-control " placeholder="Año"  />
                                        </div>
                                </div>

                                <div class='col-md-6'>
                                        <label for="slcNivelEstudos">Nivel de estudios<small class='text-red'>*</small></label>
                                        <select ng-disabled="formEnabled"  name="slcNivelEstudos" id="slcNivelEstudos"  class="form-control"ng-model="Carrera._idNivelEstudios" >
                                            <optgroup label="Selecciona nivel de estudios">
                                                <option ng-repeat="Nivel in NivelEstudios" value="{{Nivel._id}}">{{Nivel.Descripcion}}</option>                                    
                                            </optgroup>
                                        </select> 
                                </div>

                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Calificacion minima<small class='text-red'>*</small></label>
                                            <input ng-disabled="formEnabled" type="text" name="txtfechanac" id="txtfechanac" ng-model="Carrera.CalificacionMinima" 
                                            class="form-control " placeholder="5"  />
                                        </div>
                                </div>

                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Calificacion maxima<small class='text-red'>*</small></label>
                                            <input ng-disabled="formEnabled" type="text" name="txtfechanac" id="txtfechanac" ng-model="Carrera.CalificacionMaxima" 
                                            class="form-control " placeholder="10"  />
                                        </div>
                                </div>


                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txttipo">Calificacion aprobatoria<small class='text-red'>*</small></label>
                                            <input ng-disabled="formEnabled" type="text" name="txtfechanac" id="txtfechanac" ng-model="Carrera.CalificacionMinimaAprobatoria" 
                                            class="form-control " placeholder="7"  />
                                        </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txtcveCarrera">Modulos <small class='text-red'>*</small></label>
                                        <input type="text" name='txtModulos' id='txtModulos' placeholder='No de semestres, Cuatrimestres, etc...' class='form-control'
                                        ng-model="Carrera.Modulos" ng-disabled="formEnabled"/>
                                    </div>
                                </div>
                            

                         
                        </div>
        
                     </div>
                <div class="box-footer">
                    <div class="row">
                        
                                
                         
                        <div class="col-md-12 col-xs-12">
                            <button type="button" class='btn btn-default pull-right' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                           
                            <button type="button" class="btn btn-{{formEnabled? 'primary':'success'}} pull-right" name='btnguardar'
                                 id='btnguardar' ng-click="formEnabled?  btnNuevo(): btnGuardarCarrera()"><i class="fa fa-{{formEnabled? 'new':'save'}}"></i>
                                 {{formEnabled? "Nuevo":"Crear"}} carrera</button>
                           
                            
                          
        
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" name='opc' id='opc' value='new' />
                        </div>
                       
                    </div>
        
                </div>
            </form>
        
        </div>
    </section>
    
   </div>