<section ng-controller="CarrerasCtrl" >
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Carreras
        </h1>

        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="#"> Academico </a></li>
          <li class="active">Carreras</li>
        </ol>
    </section>
    <section class="content" ng-init="rol = '{rol}'">
        <div class="box box-info" ng-init="Campus.id = '{id}'">
            <div class="box-header with-border">
                <h2 class="box-title">Catalogo de carreras registradas</h2>
            </div>
            <div class="box-body">
                <div class="row" ng-if="rol==='root'">
                    <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6' >
                      <label for="slcSucursales">Institucion</label>
                        <select name="slcSucursales" id="slcSucursales"  class="form-control"  ng-model="Instituto._idInstituto" ng-change="getCampus()">
                           <optgroup label="Selecciona un campus">
                              <option ng-repeat="Instituto in arrayInstituciones" value="{{Instituto._id}}">{{Instituto.Institucion}}</option>                                    
                            </optgroup>
                        </select>
                    </div>

                    <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6' >
                      <label for="slcSucursales">Campus</label>
                        <select name="slcSucursales" id="slcSucursales"  class="form-control" ng-model="Campus.id" ng-change="getCarreras()">
                           <optgroup label="Selecciona un campus">
                              <option ng-repeat="suc in arrayCampus" value="{{suc._id}}">{{suc.Nombre}}</option>                                    
                           </optgroup>
                        </select>
                    </div>

                </div>
                <div class="row" ng-if="rol==='Admin'">
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12' >
                      <label for="slcSucursales">Campus</label>
                        <select name="slcSucursales" id="slcSucursales"  class="form-control" ng-model="Campus.id" ng-change="getCarreras()">
                            <optgroup label="Selecciona un campus">
                                <option ng-repeat="suc in arrayCampus" value="{{suc._id}}">{{suc.Nombre}}</option>                                    
                            </optgroup>
                        </select>
                    </div>
                </div>
<!--                <div class="row" ng-if="rol==='CtrlEsc'">
                        <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12' >
                          <label for="slcSucursales">Campus</label>
                            <select name="slcSucursales" id="slcSucursales"  class="form-control" ng-model="Campus.id" ng-change="getCarreras()">
                                <optgroup label="Selecciona un campus">
                                    <option ng-repeat="suc in arrayCampus" value="{{suc._id}}">{{suc.Nombre}}</option>                                    
                                </optgroup>
                            </select>
                        </div>
                    </div>-->

                
                <br/>
                <div class="row" >
                        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                            <a href="?mod=Carreras&opc=nuevo&id={{Campus.id}}"><button ng-show="btnShow"  type='button' class='btn btn-primary'
                                name="btnnuevo" id="btnnuevo">
                                <i class="fa fa-bank"></i> Nueva Carrera
                            </button> </a>
                            <span class="switch switch-lg pull-right">
                                <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getCarreras()">
                                <label for="switch-id">Historico</label>               
                            </span>
                        </div>
                </div>
                <hr />
                <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">                        
                            <table class="table table-bordered table-striped table-hover table-responsive">
                                <thead>
                                    <th width="5%" >#</th>
                                    <th width="10%">Id</th>
                                    <th width="50%">Carrera</th>
                                    <th width="10%">RVOE</th>
                                    <th width="15%">Estatus</th>
                                    <th width="10%">Acciones</th>
                                </thead>
                                <tfoot>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Carrera</th>
                                    <th>RVOE</th>
                                    <th>Estatus</th>
                                    <th>Acciones</th>
                                </tfoot>
                                <tbody>
                                    <tr ng-repeat="Carrera in arrayCarreras">
                                        <td>{{$index+1}}</td>
                                        <td>{{Carrera._idCarrera}}</td>
                                        <td>{{Carrera.Carrera}}</td>
                                        <td>{{Carrera.Rvoe}}</td>
                                        <td ><span class="label label-{{Carrera.Estatus=='1'? 'success':'danger'}}">{{Carrera.Estatus == "1"? "Activo":"Baja"}}</span></td>
                                        <td><button type="button" id="btnEditar" name="btnEditar" class="btn btn-info"
                                                    ng-click="btnEditar(Carrera._id)"> 
                                                    <i class="fa fa-edit"></i> 
                                            </button>
                                            <button type="button" id="btnBaja" name="btnBaja" class="btn btn-{{Carrera.Estatus=='1'? 'danger':'success'}}"
                                                    ng-click="Carrera.Estatus==='1'? btnBaja(Carrera._id) : btnAlta(Carrera._id) "> 
                                                    <i class="fa fa-edit"></i> 
                                            </button>
                                            </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </section>
</section>