<div ng-controller="EntidadesCtrl">
<section class="content-header">
    <h1>
      <i class="fa fa-institution"></i> Entidades Federativas
      
      <small>Catalogo</small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Entidades</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Catalogo de entidades federativas</h2>
        </div>
        <div class="box-body">
            <div class="row" id='nuevo'>
<!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    {sucursales}
                   
                </div>-->
                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevaEntidad()">
                        <i class="fa fa-map"></i> Nueva Entidad
                    </button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="table-responsive">
                    <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                    <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                    <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                        <thead>
                            <th width="5%">#</th>
                            <th width="10%">Id</th>
                            <th width="50%">Entidad Federativa</th>
                            <th width="15%">Abrev.</th>
                            <th width="20%">Acciones</th>
                        </thead>
                        <tfoot>
                            <th width="5%">#</th>
                            <th width="10%">Id</th>
                            <th width="50%">Entidad Federativa</th>
                            <th width="15%">Abrev.</th>
                            <th width="20%">Acciones</th>
                        </tfoot>
                        <tbody id='listadocarreras'>
                            <tr ng-repeat="entidad in arrayEntidades">
                                <td>{{$index+1}}</td>
                                <td>{{entidad.IDENTIDADFEDERATIVA}}</td>
                                <td>{{entidad.NOM_ENT}}</td>
                                <td>{{entidad.ENTIDAD_ABR}}</td>
                                <td>
                                    <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(entidad)"> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Ventana modal-->
    <div class="modal fade" id="ModalEntidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear nueva entidad federativa</h4>
                </div>
                <div class="modal-body">
                    <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                        <div class="row">
                            <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                                <label for="">Id</label>
                                <input type="text" name='txtAbrev' id='txtAbrev' class='form-control' ng-model="Entidad.IDENTIDADFEDERATIVA" />
                            </div>                  
                            <div class="col-xs-9 col-md-9 col-lg-9 col-sm-9">
                                <label for="">Entidad Federativa</label>
                                <input type="text" name='txtEntidad' id='txtEntidad' class='form-control' ng-model="Entidad.NOM_ENT" />
                            </div>
                            <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                                <label for="">Abreviacion</label>
                                <input type="text" name='txtAbrev' id='txtAbrev' class='form-control' ng-model="Entidad.ENTIDAD_ABR" />
                            </div>                  
                        </div
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                            ng-click="Entidad.opc==='new'? btnGuardarEntidad():btnEditarEntidad()">
                        {{Entidad.opc==='new'? "Crear ": "Editar "}}Entidad
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>