<div ng-controller="CertificacionCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Tipo de certificacion
          <small>Catalogo</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Certificacion</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Catalogo tipos de certificacion</h2>
            </div>
            <div class="box-body">
                <div class="row" id='nuevo'>
    <!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        {sucursales}
                       
                    </div>-->
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevaCertificacion()">
                            <i class="fa fa-map"></i> Nueva certificacion
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="60%">tipo de certificado</th>
                                <th width="25%">Acciones</th>
                            </thead>
                            <tfoot>
                            <th width="5%">#</th>
                                <th width="5%">Id </th>
                                <th width="60%">tipo de certificado</th>
                                <th width="25%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                      <tr ng-repeat="Certificacion in arrayCertificaciones">
                                    <td>{{$index+1}}</td>
                                    <td>{{Certificacion.idTipoCertificacion}}</td>
                                    <td>{{Certificacion.Tipo_Certificacion}}</td>
                                    <td>
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Certificacion)" > 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <!-- Ventana modal-->
        <div class="modal fade" id="ModalCertificacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Crear tipo de certificacion </h4>
                    </div>
                    <div class="modal-body">
                        <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                            <div class="row">
                                <div class="col-xs-4 col-md-4 col-lg-4 col-sm-4">
                                    <label for="">Id tipo de certificacion</label>
                                    <input type="text" name='idTipoCertificacion' id='idTipoCertificacion' class='form-control' ng-model="Certificacion.idTipoCertificacion" />
                                </div>
                                
                                <div class="col-xs-8 col-md-8 col-lg-8 col-sm-8">
                                    <label for="">Tipo de certificacion</label>
                                    <input type="text" name='txtidTipoCertificacion' id='txtidTipoCertificacion' class='form-control' ng-model="Certificacion.Tipo_Certificacion" />
                                </div>
                                               
                            </div
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                                ng-click="Certificacion.opc==='new'? btnGuardarCertificacion():btnEditarCertificacion()">
                                {{Certificacion.opc==='new'? "Crear ": "Editar "}}Certificacion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>