<div ng-controller="FirmantesCtrl">
<section class="content-header">
    <h1>
      <i class="fa fa-institution"></i> Cargos de Firmantes Autorizados
      
      <small>Catalogo</small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Firmante</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Catalogo de cargos</h2>
        </div>
        <div class="box-body">
            <div class="row" id='nuevo'>
<!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    {sucursales}
                   
                </div>-->
                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevoFirmante()">
                        <i class="fa fa-map"></i> Nuevo cargo
                    </button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="table-responsive">
                    <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                    <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                    <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                        <thead>
                            <th width="5%">#</th>
                            <th width="5%">Id</th>
                            <th width="60%">Cargo firmante autorizado</th>
                            <th width="25%">Acciones</th>
                        </thead>
                        <tfoot>
                        <th width="5%">#</th>
                            <th width="5%">Id</th>
                            <th width="60%">Cargo firmante autorizado</th>
                            <th width="25%">Acciones</th>
                        </tfoot>
                        <tbody id='listadocarreras'>
                                  <tr ng-repeat="Firmante in arrayFirmantes">
                                <td>{{$index+1}}</td>
                                <td>{{Firmante._id}}</td>
                                <td>{{Firmante.Cargo_firmante}}</td>
                                <td>
                                    <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Firmante)" > 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Ventana modal-->
    <div class="modal fade" id="ModalFirmante" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear nuevo cargo firmante autorizado</h4>
                </div>
                <div class="modal-body">
                    <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                        <div class="row">
                            
                            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                <label for="">Cargo firmante autorizado</label>
                                <input type="text" name='txtFirmante' id='txtFirmante' class='form-control' ng-model="Firmante.Cargo_firmante" />
                            </div>
                                           
                        </div
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                            ng-click="Firmante.opc==='new'? btnGuardarFirmante():btnEditarFirmante()">
                            {{Firmante.opc==='new'? "Crear ": "Editar "}}cargo
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>