<div ng-controller="ObservacionesCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Observaciones
          
          <small>Catalogo</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Observaciones</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Catalogo de Observaciones</h2>
            </div>
            <div class="box-body">
                <div class="row" id='nuevo'>
    <!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        {sucursales}
                       
                    </div>-->
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevaObservaciones()">
                            <i class="fa fa-map"></i> Nueva observacion
                        </button>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="40%">Descripcion</th>
                                <th width="30%">Descricpion corta</th>
                                <th width="20%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="40%">Descripcion</th>
                                <th width="30%">Descricpion corta</th>
                                <th width="20%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                <tr ng-repeat="Observaciones in arrayObservaciones">
                                    <td>{{$index+1}}</td>
                                    <td>{{Observaciones.idObservaciones}}</td>
                                    <td>{{Observaciones.Descripcion}}</td>
                                    <td>{{Observaciones.Descripcion_Corta}}</td>                                
                                    <td>
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" 
                                        ng-click="btnEditar(Observaciones)"> 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
        <!-- Ventana modal-->
        <div class="modal fade" id="ModalObservaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Crear nueva observacion</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                            <div class="row">
                                
                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                    <label for="">Id observacion</label>
                                    <input type="text" name='idObservaciones' id='idObservaciones' class='form-control' 
                                    ng-model="Observaciones.idObservaciones" />
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                    <label for="">Descripcion </label>
                                    <input type="text" name='txtDescripcion' id='txtDescripcion' class='form-control' 
                                    ng-model="Observaciones.Descripcion" />
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                    <label for="">Descripcion corta</label>
                                    <input type="text" name='txtDescripcionCorta' id='txtDescripcionCorta' class='form-control' 
                                    ng-model="Observaciones.Descripcion_Corta" />
                                </div>
                                            
                            </div
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                                ng-click="Observaciones.opc==='new'? btnGuardarObservaciones():btnEditarObservaciones()">
                            {{Observaciones.opc==='new'? "Crear ": "Editar "}}Observacion
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>