<div ng-controller="EcertificadoCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> E-Certificado

        </h1>

        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">ECertificado</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Certificacion Electronica</h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary" ng-click="btnNewCertificado()"><i class="fa fa-ticket"></i> Nuevo Certificado</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <th width="5%">#</th>
                                <th width="10%">No. Control</th>
                                <th width="50%">Alumno</th>
                                <th width="30%">Carrera</th>
                                <th width="15%">Acciones</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>