<div ng-controller="EcertificadonewCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> E-Certificado
          <small>Nuevo certificado</small>
        </h1>

        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Ecertificado">ECertificado</a></li>
          <li class="active">Nuevo</li>
        </ol>
    </section>
    <section class="content" ng-init="idUSR={idUSR}">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Nuevo Certificado Electronico</h2>
            </div>
            <div class="box-body">
                <h4>Nombre de la institucion</h4>
                <h2 align="center">{{Sucursal.Institucion}}</h2>
                <hr />
                <h4>Responsable de la institucion</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nombre:</label>
                            <span class="form-control">{{Sucursal.Nombre}}</span>
                        </div>
                        <div class="col-md-4">
                            <label>Apellido Paterno:</label>
                            <span class="form-control">{{Sucursal.Ap_Paterno}}</span>
                        </div>
                        <div class="col-md-4">
                            <label>Apellido Materno:</label>
                            <span class="form-control">{{Sucursal.Ap_Materno}}</span>
                        </div>
                        <div class="col-md-4">
                            <label>CURP:</label>
                            <span class="form-control">{{Sucursal.CURP}}</span>
                        </div>
                        <div class="col-md-4">
                            <label>Cargo:</label>
                            <span class="form-control">{{Sucursal.Cargo_firmante}}</span>
                        </div>
                    </div>
                </div>
                
                <h4>Datos de la Campus</h4>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Id Campus</label>
                                <span class="form-control">{{Sucursal.idCampus}}</span>
                            </div>
                            <div class="col-md-10">
                                <label>Campus</label>
                                <span class="form-control">{{Sucursal.Campus}}</span>
                            </div>
                            <div class="col-md-6">
                                <label>Domicilio</label>
                                <span class="form-control">{{Sucursal.Domicilio}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Colonia</label>
                                <span class="form-control">{{Sucursal.Colonia}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Codigo postal:</label>
                                <span class="form-control">{{Sucursal.CP}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Ciudad</label>
                                <span class="form-control">{{Sucursal.Ciudad}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Estado</label>
                                <span class="form-control">{{Sucursal.Estado}}</span>
                            </div>
                        </div>
                    </div>
<!--                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control" placeholder="Ingresa el numero de control o el nombre del alumno"/>
                            
                        </div>
                        
                    </div>
                </div>-->
                <section>
                    <h4>Datos del Alumno</h4>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-3">
                                <label>No. Control</label>
                                <span class="form-control">{{Alumno.USR}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Nombre:</label>
                                <span class="form-control">{{Alumno.Nombre}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Apellido Materno:</label>
                                <span class="form-control">{{Alumno.Ap_Paterno}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Apellido Paterno:</label>
                                <span class="form-control">{{Alumno.Ap_Materno}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>CURP:</label>
                                <span class="form-control">{{Alumno.Curp}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Genero:</label>
                                <span class="form-control">{{Alumno.Genero}}</span>
                            </div>
                            <div class="col-md-3">
                                <label>Fecha de Nacimiento:</label>
                                <span class="form-control">{{Alumno.FechaNacimiento}}</span>
                            </div>
                        </div>
                    </div>
                    <h4>Datos de la Carrera</h4>
                    <div class="well">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Id:</label>
                                <span class="form-control">{{Carrera._idCarrera}}</span>
                            </div>
                            <div class="col-md-10">
                                <label>Carrera:</label>
                                <span class="form-control">{{Carrera.Carrera}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>CVE:</label>
                                <span class="form-control">{{Carrera.cveCarrera}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>RVOE:</label>
                                <span class="form-control">{{Carrera.Rvoe}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Fecha del Revoe:</label>
                                <span class="form-control">{{Carrera.FechaExpedicionRVOE}}</span>
                            </div>
                        </div>
                    </div>
                    <h4>Tipo de Certificado</h4>
                    <div class="well">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label for="slctipoDocumento">Tipo de Documento:</label>
                                <select name="slctipoDocumento" id="slctipoDocumento" class="form-control" ng-model="Expedicion.IdTipoCertificado">
                                    <optgroup label="Selecciona el tipo de Documento">
                                        <option ng-repeat="cert in TipoCertificado" value="{{cert.idTipoCertificacion}}">{{cert.Tipo_Certificacion}}</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label for="">Fecha de Expedicion</label>
                                <span class="form-control">{{Expedicion.FechaExpedicion}}</span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <label for="">Lugar de Expedicion</label>
                                <span class="form-control">{{Sucursal.Estado}}</span>
                            </div>
                        </div>
                    </div>

                    <h4>Datos de Calificaciones</h4>
                    <div class="well">
                        <div class="row" ng-repeat="mod in getGrados(Carrera.Modulos)">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3>Modulo {{mod+1}}</h3>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <th width="5%">#</th>
                                            <th width="10%">Id</th>
                                            <th width="50%">Materia</th>
                                            <th width="10%">Clave</th>
                                            <th width="10%">Ciclo</th>
                                            <th width="5%">Calificacion</th>
                                            <th width="10%">Descripcion</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="mat in Calificaciones.grados[mod]">
                                                <td>{{$index+1}}</td>
                                                <td>{{mat.materia.id_Asignatura}}</td>
                                                <td>{{mat.materia.Asignatura}}</td>
                                                <td>{{mat.materia.Clave_asignatura}}</td>
                                                <td>{{mat.materia.Ciclo}}</td>
                                                <td>{{mat.materia.Calificacion}}</td>
                                                <td>{{mat.materia.Descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Asignaturas</th>
                                            <td>{{Calificaciones.No_Asignaturas}}</td>
                                        </tr>
                                        <tr>
                                            <th>Promedio</th>
                                            <td>{{Calificaciones.Promedio.toFixed(2) }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <button type="button" class="btn btn-primary pull-right" ng-click="setXML()"><i class="fa fa-code"></i> Generar XML</button>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </section>
</div>