

<div ng-controller="ModalidadCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Modalidad de titulacion
          
          <small>Catalogo</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Modalidad de titulacion</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Catalogo modadildad de titulacion</h2>
            </div>
            <div class="box-body">
                <div class="row" id='nuevo'>
    <!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        {sucursales}
                       
                    </div>-->
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                        &nbsp;
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevaModalidad()">
                            <i class="fa fa-map"></i> Nueva modalidad
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="40%">Modadlidad</th>
                                <th width="35%">Tipo de titulacion</th>
                                <th width="15%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th width="5%">#</th>
                                <th width="5%">Id</th>
                                <th width="40%">Modadlidad</th>
                                <th width="35%">Tipo de titulacion</th>
                                <th width="15%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                <tr ng-repeat="Modalidad in arrayModalidades">
                                    <td>{{$index+1}}</td>
                                    <td>{{Modalidad._id}}</td>
                                    <td>{{Modalidad.Modalidad_titulacion}}</td>
                                    <td>{{Modalidad.Tipo_modalidad}}</td>
                         
                                    <td>
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Modalidad)" > 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


 <!-- Ventana modal-->
 <div class="modal fade" id="ModalModalidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Crear nueva modalidad de titulacion</h4>
            </div>
            <div class="modal-body">
                <form action="" name='frmnewcarrera' id='frmnewcarrera'>
                    <div class="row">
                    
                       
                        <div class="col-xs-6col-md-6 col-lg-6 col-sm-6">
                            <label for="">Modalidad titulacion</label>
                            <input type="text" name='txtModalidad' id='txtModalidad' class='form-control' ng-model="Modalidad.Modalidad_titulacion" >
                        </div>   
                        <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                            <label for="">Tipo de Modalidad titulacion</label>
                            <input type="text" name='txtTipoAntecedente' id='txtTipoAntecedente' class='form-control' ng-model="Modalidad.Tipo_modalidad" >
                        </div>       
                                          
                          
                    </div
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                ng-click="Modalidad.opc==='new'? btnGuardarModalidad():btnEditarModalidadl()" >
                {{Modalidad.opc==='new'? "Crear ": "Editar "}} modalidad </button>
                </button>
            </div>
        </div>
    </div>
</div>
</div>