<div ng-controller="AsignaturaCtrl">
<section class="content-header">
    <h1>
      <i class="fa fa-institution"></i> Tipos de asignatura
      
      <small>Catalogo</small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Asignatura</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Catalogo de tipos de asignatura</h2>
        </div>
        <div class="box-body">
            <div class="row" id='nuevo'>
<!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    {sucursales}
                   
                </div>-->
                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevaAsignatura()">
                        <i class="fa fa-map"></i> Nueva asignatura
                    </button>
                </div>
            </div>
            <br>
            <div class="col-md-12">
                <div class="table-responsive">
                    <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                    <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                    <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                        <thead>
                            <th width="5%">#</th>
                            <th width="15%">Id tipo asigantura</th>
                            <th width="50%">Descripcion</th>                
                            <th width="20%">Acciones</th>
                        </thead>
                        <tfoot>
                            <th width="5%">#</th>
                            <th width="15%">Id tipo asigantura</th>
                            <th width="50%">Descripcion</th>                
                            <th width="20%">Acciones</th>
                        </tfoot>
                        <tbody id='listadocarreras'>
                            <tr ng-repeat="Asignatura in arrayAsignatura">
                                <td>{{$index+1}}</td>
                                <td>{{Asignatura.idTipoAsignatura}}</td>
                                <td>{{Asignatura.Descripcion}}</td>                              
                                <td>
                                    <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(Asignatura)"> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Ventana modal-->
    <div class="modal fade" id="ModalAsignatura" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear nueva asignatura</h4>
                </div>
                <div class="modal-body">
                    <form action="" name='frmnewAsignatura' id='frmnewAsignatura'>
                        <div class="row">
                            
                            <div class="col-xs-3 col-md-3 col-lg-3 col-sm-3">
                                <label for="">Id tipo asignatura</label>
                                <input type="text" name='idTipoAsignatura' id='idTipoAsignatura' class='form-control' ng-model="Asignatura.idTipoAsignatura" />
                            </div>
                            <div class="col-xs-9 col-md-9 col-lg-9 col-sm-9">
                                <label for="">Descrpcion</label>
                                <input type="text" name='txtTipoAsignatura' id='txtTipoAsignatura' class='form-control' ng-model="Asignatura.Descripcion" />
                            </div>                  
                        </div
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                            ng-click="Asignatura.opc==='new'? btnGuardarAsignatura():btnEditarAsignatura()">
                        {{Asignatura.opc==='new'? "Crear ": "Editar "}}asignatura
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>