<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Prissma Musical | Iniciar sesion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Asset/Css/bootstrap.css">
    <link rel="stylesheet" href="Asset/Css/bootstrap-responsive.css">
    <style type="text/css">
    	 body {
		  padding-top: 40px;
		  padding-bottom: 40px;
		  background-color: rgb(255, 255, 255);
		}

		.form-signin {
		  max-width: 330px;
		  padding: 15px;
		  margin: 0 auto;
		}
		.form-signin .form-signin-heading,
		.form-signin .checkbox {
		  margin-bottom: 10px;
		}
		.form-signin .checkbox {
		  font-weight: normal;
		}
		.form-signin .form-control {
		  position: relative;
		  height: auto;
		  -webkit-box-sizing: border-box;
		     -moz-box-sizing: border-box;
		          box-sizing: border-box;
		  padding: 10px;
		  font-size: 16px;
		}
		.form-signin .form-control:focus {
		  z-index: 2;
		}
		.form-signin input[type="email"] {
		  margin-bottom: -1px;
		  border-bottom-right-radius: 0;
		  border-bottom-left-radius: 0;
		}
		.form-signin input[type="password"] {
		  margin-bottom: 10px;
		  border-top-left-radius: 0;
		  border-top-right-radius: 0;
		}
		.morado{
			background-color: rgb(87, 39, 114);
			color: rgb(255, 255, 255);
		}
	</style>
        
        
        
	
</head>
<body ng-app="tituloElectronico">
    <seccion ng-controller="LoginCtrl">
        <div class="container" >
            <h1>{{nombre}}</h1>
          <form class="form-signin" name="frmlogin" id="frmlogin">
              <div class="form-signin-heading"><img src="Asset/Imagenes/Logos/logoprissma.jpg" width="100%">
                  <h3>Iniciar sesion</h3></div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="text"  name="login" class="form-control" placeholder="Usuario" required autofocus ng-model="login.nombre">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Contraseña" required ng-model="login.pass">

            <button class="btn btn-lg morado btn-block" id="enviar" ng-click="btnEntrar()">Ingresar</button>
          </form>

        </div> <!-- /container -->
        <div class="container">
            <div class="form-signin">
                <div id="resultado" class="form-signin-heading">
                    {error}
                </div>
            </div>
        </div>
    </seccion>
    
    <script type="text/javascript" src="Asset/Includes/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script type="text/javascript" src="Asset/Js/bootstrap.js"></script>
    <script type="text/javascript" src="Asset/Js/angular/angular.min.js"></script>
    <script type="text/javascript" src="Asset/Js/angular/app.js"></script>
    <script type="text/javascript" src="Html/Js/Login.js"></script>
</body>
</html>
