<div ng-controller="DocumentosCtrl">
<section class="content-header">
    <h1>
      <i class="fa fa-institution"></i> Alta de tipo de documento
      
      <small>Catalogo</small>
    </h1>
    
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
      <li class="active">Documento</li>
    </ol>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Catalogo de documentos a expedir</h2>
        </div>
        <div class="box-body">
            <div class="row" id='nuevo'>
<!--                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    {sucursales}
                   
                </div>-->
                <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'>
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevoDocumento()">
                        <i class="fa fa-map"></i> Nuevo Documento
                    </button>
                    <span class="switch switch-lg pull-right">
                        <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getDocumentos()">
                        <label for="switch-id">Historico</label>               
                    </span>
                </div>
            </div>
            <br>
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <div class="table-responsive">
                    <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                    <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                    <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                        <thead>
                            <th width="5%">#</th>
                            <th width="60%">Documento</th>
                            <th width="15%">Estatus</th>
                            <th width="20%">Acciones</th>
                        </thead>
                        <tfoot>
                            <th width="5%">#</th>
                            <th width="60%">Documento</th>
                            <th width="15%">Estatus</th>
                            <th width="20%">Acciones</th>
                        </tfoot>
                        <tbody id='listadocarreras'>
                            <tr ng-repeat="doc in arrayDocumentos">
                                <td>{{$index+1}}</td>
                                <td>{{doc.Documento}}</td>
                                <td align="center"><span class="label label-{{doc.Estatus=='1'? 'success':'danger'}}">{{doc.Estatus == "1"? "Activo":"Baja"}}</span></td>
                                
                                <td>
                                    <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info" ng-click="btnEditar(doc)"> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                    <button type="button" id="btnBaja" name="btnBaja" class="btn btn-danger" ng-click="btnBaja(doc)"> 
                                        <i class="fa fa-edit"></i> 
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Ventana modal-->
    <div class="modal fade" id="ModalDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Crear nueva entidad federativa</h4>
                </div>
                <div class="modal-body">
                    <form action="" name='frmnewdocumento' id='frmnewdocumento'>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                                <label for="txtdocumento">Abreviacion</label>
                                <input type="text" name='txtdocumento' id='txtdocumento' class='form-control' ng-model="Documento.Documento" />
                            </div>                  
                        </div
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" name="btnCrear" id="btnCrear" 
                            ng-click="Documento.opc==='new'? btnGuardarDocumento():btnEditarDocumento()">
                        {{Entidad.opc==='new'? "Crear ": "Editar "}}Entidad
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>