<div ng-controller="RegistroCtrl">
<section class="content-header">
    <h1>
      Registro de titulos electronicos
    </h1>
    <ol class="breadcrumb">
      <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>

    </ol>
</section>

<section class="content"  ng-init="rol= '{rol}'">
    
    
    <div class="row">
       <div class="col-md-12">
            <form action="" method='POST' name='frmTituloElectronico' id='frmTituloElectronico'  enctype="multipart/form-data">
                <div class="box box-info">
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-book"></i> Titulo Electronico {{rol}}</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12 col-me-12 col-lg-12">
                                <div class="nav-tabs-custom" >
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="doc in Documentos" class="{{$index==0? "active":""}}}"><a href="#{{doc.Documento}}" data-toggle="tab">{{doc.Documento}}</a></li>
                                        
                                    </ul>
                                    <div class="tab-content">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-2 col-lg-3">
                                        <div class="Control-group">
                                            <label for="fechaExpedicion">Fecha de expedicion <small class='text-red'>*</small></label>
                                            <input type="text" name='fechaExpedicion' id='fechaExpedicion' placeholder='0000-00-00' class='form-control'
                                            ng-model="Titulacion.FechaExpedicion" ng-disabled="formEnabled"/>
                                        </div>
                            </div>
                            <div class=" col-xs-4 col-md-8  col-lg-6">
                                <div class="Control-group">
                                    <label for="txtNombre">Nombre del profesionista<small class='text-red'>*</small> </label>
                                    <div class="input-group">
                                            <input type="text" class="form-control" aria-label="..." ng-model="Alumno.Nombre " placeholder="Nombre">
                                            <div class="input-group-btn">
                                                <button class="btn btn-success " type="button"  ng-click="btnModal()" ><i class="fa fa-search"></i></button>
                                            </div>
                                          </div>
                                </div>
                            </div>
                            <div class=" col-xs-4 col-md-2  col-lg-3">
                                <div class="Control-group">
                                    <label for="txtAp_Paterno">No. contol<small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='txtAp_Paterno' id='txtAp_Paterno' placeholder='No. de control interno' class='form-control' 
                                    ng-model="Alumno.USR" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            
                        </div>
            </form>
            <br>
            <div class="box-header">
                    <h2 class="box-title"><i class="fa fa-book"></i> Historial del prfesionista</h2>
                </div>
     
            <div class="nav-tabs-custom" >
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Antecedentes" data-toggle="tab">Antecedentes</a></li>
                    <li><a href="#Carrera"     data-toggle="tab">Carrera</a></li>
                    <li><a href="#Datos"       data-toggle="tab">Datos generales</a></li>
                    <li><a href="#Titulacion"  data-toggle="tab">Titulacion</a></li>
                    <li><a href="#Servicio"    data-toggle="tab">Servicio Social</a></li>
                </ul>
                <div class="tab-content">

                    <div class="active tab-pane" id="Antecedentes">
                         <div class='panel-title'>
                            <h4>Antecedentes</h4>
                         </div>
                         <div class="col-md-6">
                                <div class="Control-group">
                                    <label for="institucionProcedencia">Institucion de procedencia <small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='institucionProcedencia' id='institucionProcedencia' placeholder='Identicador de carrera' class='form-control'
                                            ng-model="Antecedente.institucionProcedencia" ng-disabled="formEnabled"/>
                                </div>
                            </div>

                            <div class='col-md-6'>
                                <label for="slcTipoEstudio">Tipo de estudio</label>
                                <select ng-disabled="true" name="slcTipoEstudio" id="slcTipoEstudio"  class="form-control"ng-model="Antecedente._idTipoEstudioAntecedente" >
                                    <optgroup label="Selecciona tipo de estudio">
                                        <option  ng-repeat="Estudio in arrayTipoEstudio" value="{{Estudio._id}}">{{Estudio.Tipo_estudio_antecedente}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>
                            <div class='col-md-3'>
                                <label for="slcEntidadFederativa">Entidad Federativa</label>
                                <select ng-disabled="true" name="slcEntidadFederativa" id="slcEntidadFederativa"  class="form-control"ng-model="Antecedente._idEntidadFederativa" >
                                    <optgroup label="Selecciona entidad federativa">
                                        <option  ng-repeat="Entidad in arrayEntidad" value="{{Entidad._id}}">{{Entidad.NOM_ENT}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <div class="Control-group">
                                    <label ng-disabled="true" for="txtFechaInicio">Fecha de inicio<small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='txtFechaInicio' id='txtFechaInicio' placeholder='0000-00-00' class='form-control'
                                    ng-model="Antecedente.fechaInicio" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="txtFechaTerminacion">Fecha de terminacion<small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='txtFechaTerminacion' id='txtEtxtFechaTerminacionmail' placeholder='0000-00-00' class='form-control'
                                    ng-model="Antecedente.fechaTerminacion" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="NumeroCedula">Numero de cedula<small class='text-red'>*</small> </label>
                                        <input ng-disabled="true" type="text" name='NumeroCedula' id='NumeroCedula' placeholder='Nombre completo de la carrera' class='form-control'
                                               ng-model="Antecedente.NoCedula" ng-disabled="formEnabled"/>
                                    </div>
                                </div>
                    </div>

                    <div class="tab-pane" id="Carrera">
                        <div class='panel-title'>
                                <h4>Carrera</h4>
                            </div>
                                <div class="col-md-6">
                                    <div class="Control-group">
                                        <label for="nombreCarrera">Nombre de la carrera<small class='text-red'>*</small></label>
                                        <input type="text" name='nombreCarrera' id='nombreCarrera' placeholder='Nombre de la carrera' class='form-control'
                                                ng-model="Carrera.Carrera" ng-disabled="true"/>
                                    </div>
                                </div>
    
                                <div class='col-md-6'>
                                    <label for="slcEntidadFederativa">Autorizacion/Reconocimiento</label>
                                    <select ng-disabled="true"name="slcEntidadFederativa" id="slcEntidadFederativa"  class="form-control"ng-model="Carrera._idAutorizacionReconocimiento" >
                                        <optgroup label="Selecciona entidad federativa">
                                            <option  ng-repeat="Autorizacion in arrayAutorizacion" value="{{Autorizacion._id}}">{{Autorizacion.Autorizacion_reconocimiento}}</option>                                    
                                        </optgroup>
                                    </select>
                                </div>
    
                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="fechaInicio">Fecha de inicio <small class='text-red'>*</small></label>
                                            <input type="date" name='fechaInicio' id='fechaInicio' placeholder='0000-00-00' class='form-control'
                                            ng-model="Carrera.FechaInicio" ng-disabled="formEnabled"/>
                                        </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="fechaTerminacion">Fecha de terminacion <small class='text-red'>*</small></label>
                                            <input type="date" name='fechaTerminacion' id='fechaTerminacion' placeholder='0000-00-00' class='form-control'
                                            ng-model="Carrera.FechaTerminacion" ng-disabled="formEnabled"/>
                                        </div>
                                </div>

                            
                                <div class='col-md-3'>
                                    <label for="slcTipoEstudio">Nivel</label>
                                    <select ng-disabled="true" name="slcTipoEstudio" id="slcTipoEstudio"  class="form-control"ng-model="Carrera._idNivelEstudios" >
                                        <optgroup label="Selecciona tipo de estudio">
                                            <option  ng-repeat="Estudio in arrayNivel" value="{{Estudio._id}}">{{Estudio.Tipo_estudio_antecedente}}</option>                                    
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txtCarrera">Numero de RVOE<small class='text-red'>*</small> </label>
                                            <input ng-disabled="true" type="text" name='txtCarrera' id='txtCarrera' placeholder='Nombre completo de la carrera' class='form-control'
                                                   ng-model="Carrera.Rvoe" ng-disabled="formEnabled"/>
                                        </div>
                                </div>
                           
                        
                        
                    </div>

                    <div class="tab-pane" id="Datos">
                        <div class='panel-title'>
                            <h4>Datos generales</h4>
                        </div>

                        <div class="col-md-6">
                            <div class="Control-group">
                                <label for="curp">CURP<small class='text-red'>*</small></label>
                                <input ng-disabled="true" type="text" name='curp' id='curp' placeholder='Identicador de carrera' class='form-control'
                                        ng-model="Alumno.Curp" ng-disabled="formEnabled"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="Control-group">
                                <label for="nombre">Nombre(s)<small class='text-red'>*</small> </label>
                                <input  ng-disabled="true" type="text" name='nombre' id='nombre' placeholder='Nombre completo de la carrera' class='form-control'
                                       ng-model="Alumno.Nombre" ng-disabled="formEnabled"/>
                            </div>
                        </div>

                        <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="primerApellido">Primer apellido<small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='primerApellido' id='primerApellido' placeholder='0000-00-00' class='form-control'
                                    ng-model="Alumno.Ap_Paterno" ng-disabled="formEnabled"/>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="segundoApellido">Segundo apellido<small class='text-red'>*</small></label>
                                    <input ng-disabled="true" type="text" name='segundoApellido' id='segundoApellido' placeholder='0000-00-00' class='form-control'
                                    ng-model="Alumno.Ap_Materno" ng-disabled="formEnabled"/>
                                </div>
                        </div>

                    
                        <div class="col-md-6">
                            <div class="Control-group">
                                <label for="correoElectronico">Correo elctronico<small class='text-red'>*</small></label>
                                <input ng-disabled="true" type="text" name='correoElectronico' id='correoElectronico' placeholder='CVE' class='form-control'
                                        ng-model="Alumno.email" ng-disabled="formEnabled"/>
                            </div>
                        </div>
                     
                     
                    </div>

                    <div class="tab-pane" id="Titulacion">
                        <div class='panel-title'>
                             <h4>Titulacion</h4>
                        </div>

                        <div class='col-md-6'>
                            <label for="slcEntidadFederativa">Modalidad de titulacion</label>
                            <select  name="slcEntidadFederativa" id="slcEntidadFederativa"  class="form-control"ng-model="Titulacion.ModalidadTitulacion" >
                                <optgroup label="Selecciona entidad federativa">
                                    <option  ng-repeat="modalidad in arrayModalidad" value="{{modalidad._id}}">{{modalidad.Modalidad_titulacion}}</option>                                    
                                </optgroup>
                            </select>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="Control-group">
                                <label for="fechaExamenProfesional">Fecha de examen profesional <small class='text-red'>*</small></label>
                                <input type="date" name='fechaExamenProfesional' id='fechaExamenProfesional' placeholder='0000-00-00' class='form-control'
                                ng-model="Titulacion.FechaExamen" ng-disabled="formEnabled"/>
                            </div>
                    </div>
                    <div class="col-md-6">
                            <div class="Control-group">
                                <label for="FechaExtensionExamenProfesional">Fecha de extencion de examen profesional <small class='text-red'>*</small></label>
                                <input type="date" name='FechaExtensionExamenProfesional' id='FechaExtensionExamenProfesional' placeholder='0000-00-00' class='form-control'
                                ng-model="Titulacion.ExtencionFechaExamen" ng-disabled="formEnabled"/>
                            </div>
                    </div>
                      
                    </div>

                    <div class="tab-pane" id="Servicio">
                         <div class='panel-title'>
                            <h4>Servicio social</h4>
                         </div>      
                        

                        <div class='col-md-6'>
                            <label for="cumplioServicioSocial">¿Cumplio servicio social?</label>
                            <select name="cumplioServicioSocial" id="cumplioServicioSocial"  class="form-control"ng-model="Servicio.cumplioServicioSocial" >
                                <optgroup label="Selecciona respuesta">
                                    <option   value="SI" >SI</option>   
                                    <option   value="NO" >NO</option>  
                                                                     
                                </optgroup>
                            </select>
                        </div>
                        <div class='col-md-3'>
                            <label for="slcTipoEstudio">Fundamento legal</label>
                            <select name="slcTipoEstudio" id="slcTipoEstudio"  class="form-control"ng-model="Servicio.Fundamentolegal" >
                                <optgroup label="Selecciona tipo de estudio">
                                    <option  ng-repeat="Legal in arrayFundamento" value="{{Legal._id}}">{{Legal.Fundamento_legal_servicio_social}}</option>                                    
                                </optgroup>
                            </select>
                        </div>
                  
                </div>
            </div>        
        </br> 
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="control-group">
                        <button type="button" class="btn btn-success form-control" name='btnRegistrar'
                         id='btnRegistrar' ng-click="regitrarDatosXML()"><i class="fa fa-save"></i>
                        Registrar</button>
                    </div>
                </div>
            
                <div class="col-md-6 col-xs-6">
                    <div class="control-group">
                        <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                    </div>
        
                </div>
                <div class="col-md-2">
                    <input type="hidden" name='opc' id='opc' value='new' />
                </div>
               
            </div>
        
        </div>
    </div>
</section>



<!-- Venta modal para cambio de carrera y horario-->

<!-- Modal -->
<div class="modal fade" id="ModalBuscar" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Buscar alumno</h4>
            </div>
            <div class="modal-body">
                <form name='frmcambioCarrera' id='frmcambioCarrera'>
                    <div class="row">
                            <div class="'col-xs-4 col-md-4 col-lg-4 col-sm-4">
                                    <div class="Control-group">
                                        <label for="CriterioBusqueda">Criterio de busqueda<small class='text-red'>*</small></label>
                                        <input type="text" name='CriterioBusqueda' id='CriterioBusqueda' placeholder='Nombre' class='form-control'
                                                ng-model="Carrera._idCarrera" ng-disabled="formEnabled"/>
                                    </div>
                                </div>
                        
                        <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'>
                            <label for="slcSucursales">Campus</label>
                              <select name="slcSucursales" id="slcSucursales"  class="form-control"ng-model="Campus._idCampus" ng-change="getCarreras()">
                                  <optgroup label="Selecciona un campus">
                                      <option ng-repeat="Campus in arrayCampus" value="{{Campus._id}}">{{Campus.Nombre}}</option>                                    
                                  </optgroup>
                              </select>
                          </div>
                          <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'>
                            <label for="slcCarreras">Carrera</label>
                               <select name="slcCarreras" id="slcCarreras"  class="form-control"ng-model="Carrera.id" ng-change="getAlumnos()">
                                   <optgroup label="Selecciona una carrera">
                                       <option ng-repeat="car in arrayCarreras" value="{{car._id}}">{{car.Carrera}}</option>                                    
                                   </optgroup>
                               </select>
                          </div>
                  
                    </div>
                </form>

                <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">                        
                            <table class="table table-bordered table-striped table-hover table-responsive">
                                <thead>
                                    <th width="10%" >#</th>
                                    <th width="20%">id</th>
                                    <th width="600%">Alumno</th> 
                                    <th width="20%">Seleccionar</th>
                                </thead>
                                <tfoot>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Alumno</th>
                                    <th>Seleccionar</th>
                                </tfoot>
                                <tbody>
                                        <tr ng-repeat="Alumno in arrayAlumnos">
                                            <td>{{$index+1}}</td>
                                            <td>{{Alumno.USR}}</td>
                                            <td>{{Alumno.Nombre}} {{Alumno.Ap_Paterno}} {{Alumno.Ap_Materno}} </td>
                                            <td align = "center">
                                                <button type="button" id="btnEditar" name="btnEditard" class="btn btn-success"
                                                    ng-click="getAlumno(Alumno._id)"><i class="fa fa-check"></i> 
                                                </button>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
          
        </div>
    </div>
</div>

</div>