<div ng-controller="SucursalesEditCtrl" >
        <section class="content-header">
            <h1>
              <i class="fa fa-institution"></i> EDITAR CAMPUS 
              
              <small>Campus</small>
            </h1>
            
            <ol class="breadcrumb">
              <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
              <li><a href="?mod=Sucursales"><i class="fa fa-institution"></i> campus</a></li>
              <li class="active">Editarcampus</li>
            </ol>
        </section>
        
        <section class="content" ng-init="idSucursal.id = '{id}'" >
                <form action="" method='POST' name='frmEditarSucursal' id='frmEditarSucursal'  enctype="multipart/form-data">
                    <div class="box box-info">
                        <div class="box-header">
                            <h2 class="box-title">Llenar obligatoriamente todos los campos {{idInstitucion.id}}</h2>
                        </div>
                        <div class="box-header">
                            <h2 class="box-title"><i class="fa fa-user"></i> Datos del campus {{idSucursal.id}}</h2>
                        </div>
                        <div class="box-body">
                            <div class="row">
            
                                <div class="col-md-6">
                                    <div class="Control-group">
                                        <label for="txtnombre">Nombre de campus<small class='text-red'>*</small> </label>
                                        <input type="text" name='txtnombre' id='txtnombre' placeholder='Nombre campus' class='form-control'
                                        ng-model="Sucursal.Nombre"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="Control-group">
                                        <label for="txtdomicilio">Domicilio <small class='text-red'>*</small></label>
                                        <input type="text" name='txtDomicilio' id='txtDomicilio' placeholder='Domicilio completo' class='form-control' 
                                        ng-model="Sucursal.Domicilio"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txtColonia">Colonia<small class='text-red'>*</small></label>
                                        <input type="text" name='txtColonia' id='txtColonia' placeholder='Colonia' class='form-control'
                                        ng-model="Sucursal.Colonia"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txtCP">Codigo postal<small class='text-red'>*</small></label>
                                        <input type="text" name='txtCP' id='txtCP' placeholder='Codigo postal' class='form-control'
                                        ng-model="Sucursal.CP"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txtCiudad">Ciudad<small class='text-red'>*</small></label>
                                        <input type="text" name='txtCiudad' id='txtCiudad' placeholder='Ciudad' class='form-control'
                                        ng-model="Sucursal.Ciudad"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="Control-group">
                                           <label for="txtEstado">Estado<small class='text-red'>*</small></label>  
                                              <select  ng-model="Sucursal._idEstado" class="form-control">
                                                  <optgroup label="Selecciona tu edentidad">
                                                      <option ng-repeat="Estado in Entidad_federativa" value="{{Estado.IDENTIDADFEDERATIVA}}">{{Estado.NOM_ENT}}</option>
                                                  </optgroup>
                                              </select>
                                        </div>
                                      </div>
                                <div class="col-md-3">
                                    <div class="Control-group">
                                        <label for="txtDGP">Registro DGP<small class='text-red'>*</small></label>
                                        <input type="text" name='txtDGP' id='txtDGP' placeholder='DGP' class='form-control' 
                                         ng-model="Sucursal.Registro_DGP"/>
                                    </div>
                                </div>
                                
    
                             
                            </div>
            
                         </div>

                         <div class="box-header">
                                <h2 class="box-title"><i class="fa fa-user"></i> Datos de folio</h2>
                            </div>
                            <div class="box-body">
                            <div class = "row">
        
                                <div class="col-md-6">
                                    <div class="Control-group">
                                        <label for="txtFolioCertificado">Folio de certificado<small class='text-red'>*</small> </label>
                                        <input type="text" name='txtFolioCertificado' id='txtFolioCertificado' placeholder='Que numero va iniciar su folio para certificado' class='form-control'
                                        ng-model="Folio.folio" />
                                    </div>
                                </div>
                            </div>
                        </div>


                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-6  col-xs-6">
                                <div class="control-group">
                                    <button type="button" class='btn btn-success form-control' name='btnguardar' id='btnguardar' ng-click="btnEditarSucursal()">Guardar</button>
                                </div>
                            </div>
                        
                            <div class="col-md-6  col-xs-6">
                                <div class="control-group"> 
                                    <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                                </div>
            
                            </div>
                            <div class="col-md-2">
                                <input type="hidden" name='opc' id='opc' value='new' />
                            </div>
                           
                        </div>
            
                    </div>
                </form>
            
        </section>
        
       </div>
   