
<div ng-controller="SucursalesCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Campus
          
          <small>Campus</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Campus</li>
        </ol>
    </section>
    
    <section class="content" ng-init="Institucion.id= '{id}'">
        <div class="box box-info" ng-init="rol='{rol}'">
            <div class="box-header with-border">
                <h2 class="box-title">Campus</h2>
            </div>
        
            <div class="box-body">
                <div class="row">
                    <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12' ng-if="rol==='root'">
                      <label for="slcSucursales">Institucion</label>
                        <select name="slcSucursales" id="slcSucursales" class="form-control"ng-model="Institucion.id" ng-change="getCampus()">
                            <optgroup label="Selecciona un campus a generar la carrera">
                                <option ng-repeat="suc in arrayInstituciones" value="{{suc._id}}">{{suc.Institucion}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                       <a href="?mod=Sucursales&opc=nuevo&id={{Institucion.id}}"> <button ng-show="btnShow"  type='button' class='btn btn-primary'
                         name="btnnuevo" id="btnnuevo">
                            <i class="fa fa-bank"></i> Nuevo Campus
                        </button> </a>
                        <span ng-show="btnShow" class="switch switch-lg pull-right">
                            <input type="checkbox" class="switch" id="switch-id" ng-model="historico"  ng-click="getCampus()">
                            <label for="switch-id">Historico</label>               
                        </span>
                        
                    </div>
                </div>
              
                <br>
                <div class="col-md-12">
                    <div class="table-responsive">
                            
    
                        <input type="hidden" value="{usuario}" id="txtusuario" name="txtusuario" />
                        <input type="hidden" value="{txtcont}" id="txtcont" name="txtcont"/>
                        <table id='tblcarreras' class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                               
                                <th width="50%">Campus</th>
                                <th width="15%">Estatus</th>
                                <th width="20%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th width="5%">#</th>
                            
                                <th width="50%">Campus</th>
                                <th width="15%">Estatus</th>
                                <th width="20%">Acciones</th>
                            </tfoot>
                            <tbody id='listadocarreras'>
                                <tr ng-repeat="Campus in arrayCampus">
                                    <td>{{$index+1}}</td>
                               
                                    <td>{{Campus.Nombre}}</td>
                                    <td ><span class="label label-{{Campus.Estatus=='1'? 'success':'danger'}}">{{Campus.Estatus == "1"? "Activo":"Baja"}}</span></td>
                                    
                                    <td>
                                    
                                        <button type="button" id="btnEditar" name="btnEditar" class="btn btn-info"
                                        ng-click="btnEditar(Campus._id)"> 
                                                <i class="fa fa-edit"></i> 
                                        </button>
                                        

                                        <button type="button" id="btnBaja" name="btnBaja" class="btn btn-{{Campus.Estatus=='1'? 'danger':'success'}}"
                                         ng-click="Campus.Estatus==='1'? btnBaja(Campus._id) : btnAlta(Campus._id) "> 
                                            <i class="fa fa-edit"></i> 
                                        </button>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
   </div>