<section ng-controller="AlumnosCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> ALUMNOS
          
        </h1>

        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="#"> Control </a></li>
          <li class="active">Alumnos</li>
        </ol>
    </section>
    <section class="content"  ng-init="rol= '{rol}'" ng-init="Carrera.id= '{id}'">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Alumnos {{rol}} </h2>
            </div>
            <div class="box-body">

                    <div class="row" ng-if="rol==='root'">
                        <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'  >
                          <label for="slcInstituciones">Institucion</label>
                            <select name="slcInstituciones" id="slcInstituciones"  class="form-control"ng-model="Instituto._idInstituto" ng-change="getCampus()">
                                <optgroup label="Selecciona una institucion">
                                    <option ng-repeat="Instituto in arrayInstituciones" value="{{Instituto._id}}">{{Instituto.Institucion}}</option>                                    
                                </optgroup>
                            </select>
                        </div>

                        <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'>
                          <label for="slcSucursales">Campus</label>
                            <select name="slcSucursales" id="slcSucursales"  class="form-control"ng-model="Campus._idCampus" ng-change="getCarreras()">
                                <optgroup label="Selecciona un campus">
                                    <option ng-repeat="Campus in arrayCampus" value="{{Campus._id}}">{{Campus.Nombre}}</option>                                    
                                </optgroup>
                            </select>
                        </div>

                        <div class='col-xs-4 col-md-4 col-lg-4 col-sm-4'>
                          <label for="slcCarreras">Carrera</label>
                             <select name="slcCarreras" id="slcCarreras"  class="form-control"ng-model="Carrera.id" ng-change="getAlumnos()">
                                 <optgroup label="Selecciona una carrera">
                                     <option ng-repeat="car in arrayCarreras" value="{{car._id}}">{{car.Carrera}}</option>                                    
                                 </optgroup>
                             </select>
                        </div>
                    </div>
                
                    <div class="row"   ng-if="rol==='Admin'">
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'  >
                              <label for="slcSucursales">Campus</label>
                                <select name="slcSucursales" id="slcSucursales"  class="form-control" ng-model="Campus._idCampus"
                                    ng-change="getCarreras()" >
                                    <optgroup label="Selecciona un carrera">
                                        <option ng-repeat="Campus in arrayCampus" value="{{Campus._id}}">{{Campus.Nombre}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>
                            <div class='col-xs-6 col-md-6 col-lg-6 col-sm-6'  >
                                    <label for="slcSucursales">Carrera</label>
                                      <select name="slcSucursales" id="slcSucursales"  class="form-control"ng-model="Carrera.id" ng-change="getAlumnos()">
                                          <optgroup label="Selecciona un carrera">
                                              <option ng-repeat="car in arrayCarreras" value="{{car._id}}">{{car.Carrera}}</option>                                    
                                          </optgroup>
                                      </select>
                            </div>
                    </div>

                    <div class="row"   ng-if="rol==='CtrlEsc'">
                            <div class='col-xs-12 col-md-12 col-lg-12 col-sm-12'  >
                              <label for="slcSucursales">Carrera</label>
                                <select name="slcSucursales" id="slcSucursales"  class="form-control"ng-model="Carrera.id" ng-change="getAlumnos()">
                                    <optgroup label="Selecciona un carrera">
                                        <option ng-repeat="car in arrayCarreras" value="{{car._id}}">{{car.Carrera}}</option>                                    
                                    </optgroup>
                                </select>
                            </div>

                    </div>

                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12"  ng-if="rol==='CtrlEsc'">
                        <a href="?mod=Alumnos&opc=nuevo&id={{Carrera.id}}"> <button ng-show="btnShow"  type='button' class='btn btn-primary'
                            name="btnnuevo" id="btnnuevo">
                               <i class="fa fa-bank"></i> Nuevo alumno
                           </button> </a>
                        <span  class="switch switch-lg pull-right">
                            <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getAlumnos(Carrera.id)">
                            <label for="switch-id">Historico</label>               
                        </span>   
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 ">                        
                        <table class="table table-bordered table-striped table-hover table-responsive">
                            <thead>
                                <th width="5%" >#</th>
                                <th width="10%">id</th>
                                <th width="50%">Alumno</th>                   
                                <th width="10%">Estatus</th>
                                <th width="15%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th>#</th>
                                <th>Id</th>
                                <th>Alumno</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="Alumno in arrayAlumnos">
                                        <td>{{$index+1}}</td>
                                        <td>{{Alumno.USR}}</td>
                                        <td>{{Alumno.Nombre}} {{Alumno.Ap_Paterno}} {{Alumno.Ap_Materno}} </td>
                                        <td ><span class="label label-{{Alumno.Estatus=='1'? 'success':'danger'}}">{{Alumno.Estatus == "1"? "Activo":"Baja"}}</span></td>

                                        <td>
                                            <button type="button" id="btnBaja" name="btnBaja" class="btn btn-{{Alumno.Estatus=='1'? 'danger':'success'}}"
                                             ng-click="Alumno.Estatus==='1'? btnBaja(Alumno._id) : btnAlta(Alumno._id) "> 
                                                <i class="fa  fa-remove"></i> 
                                            </button>
                                            <button type="button" id="btnEditar" name="btnEditard" class="btn btn-info"
                                            ng-click="btnEditar(Alumno._id)"> 
                                                    <i class="fa fa-edit"></i> 
                                            </button>

                                            <button type="button" id="btnBaja" title="Generar XML" name="btnxml" class="btn btn-default" ng-click="btnGenerarXML(Alumno._id)"> 
                                                <i class="fa fa-code"></i> 
                                            </button>
                                            </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>