<div ng-controller="EditarAlumnosCtrl">
    <section class="content-header">
            <h1>
              <i class="fa fa-institution"></i> EDITAR ALUMNO
              
              <small>Carrera</small>
            </h1>
            
            <ol class="breadcrumb">
              <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
              <li><a href="?mod=Alumnos"><i class="fa fa-institution"></i> Alumnos</a></li>
              <li class="active">Editar alumno</li>
            </ol>
        </section>
    
    <section class="content"  ng-init="_idAlumno.id= '{id}'">
        <div class="row">
            <div class="col-md-3 ">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <br>
                      <h2 class="profile-username text-center">{{Alumno.Nombre}} {{Alumno.Ap_Paterno}}</h2>
                        <p class="text-muted text-center">Alumno</p>
                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>No. Control:</b>
                                <a class="pull-right">{{Alumno.USR}}</a>
                            </li>                        
                            <li class="list-group-item">
                                <b>Promedio General:</b>
                                <a class="pull-right">9.84</a>
                            </li>
                            <li class="list-group-item">
                                <b>Estatus:</b>
                                <a class="pull-right">{{Alumno.Estatus == "1"? "Activo":"Baja"}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class="nav-tabs-custom">
                    

                    <div class="tab-content">
                        <div class="active tab-pane" id="informacion">
                                <form action="" method='POST' name='frmAlumnos' id='frmAlumnos'  enctype="multipart/form-data">
                                    <div class="box box-info">          
                                          
                                        <div class="box-header">
                                          
                                            <h2 class="box-title"><i class="fa fa-user"></i> Datos del alumno</h2>
                                     
                                        </div>
                                        
                                        <div class="box-body">
                                            <div class="row">
                                            <div class="col-md-3">
                                                <div class="Control-group">
                                                <label for="txtIdAlumno">No.Ctrl <small class='text-red'>*</small></label>
                                                <input type="text" name='txtIdAlumno' id='txtIdAlumno' placeholder='Identicador de carrera' class='form-control'
                                                       ng-model="Alumno.USR" />
                                                </div>
                                                    </div>                           
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txtNombre">Nombre <small class='text-red'>*</small> </label>
                                                        <input type="text" name='txtNombre' id='txtNombre' placeholder='Nombre(s)' class='form-control'
                                                        ng-model="Alumno.Nombre" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txtAp_Paterno">Apellido paterno<small class='text-red'>*</small></label>
                                                        <input type="text" name='txtAp_Paterno' id='txtAp_Paterno' placeholder=' Apellido paterno' class='form-control' 
                                                        ng-model="Alumno.Ap_Paterno" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txtAp_Materno">Apellido materno <small class='text-red'>*</small></label>
                                                        <input type="text" name='txtAp_Materno' id='txtAp_Materno' placeholder='Apellido materno' class='form-control'
                                                        ng-model="Alumno.Ap_Materno" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="Control-group">
                                                        <label for="txtEmail">Email <small class='text-red'>*</small></label>
                                                        <input type="text" name='txtEmail' id='txtEmail' placeholder='correo@email.com' class='form-control'
                                                        ng-model="Alumno.email" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="Control-group">
                                                        <label for="txtCurp">CURP <small class='text-red'>*</small></label>
                                                        <input type="text" name='txtCurp' id='txtEmtxtCurpail' placeholder='Curp' class='form-control'
                                                        ng-model="Alumno.Curp"/>
                                                    </div>
                                                </div>
                                                <div class='col-md-6'>
                                                    <label for="slcsSucursales">Carrera</label>
                                                    <select name="slcSucursales" id="slcSucursales"  class="form-control"ng-model="Alumno._idCarrera" >
                                                
                                                        <optgroup label="Selecciona un carrera">
                                                            <option ng-repeat="car in arrayCarreras" value="{{car._id}}">{{car.Carrera}}</option>                                    
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txttipo">Fecha de Nacimiento <small class='text-red'>*</small></label>
                                                        <input type="text" name="txtfechanac" id="txtfechanac" ng-model="Alumno.FechaNacimiento" 
                                                        class="form-control calendario" placeholder="0000-00-00"  />
                                                    </div>
                                                </div>
                                                <div class='col-md-3'>
                                                    <label for="slcSexo">Sexo</label>
                                                    <select name="slcSexo" id="slcSexo"  class="form-control"ng-model="Alumno._idGenero" >
                                                            <optgroup label="Selecciona sexo">
                                                            <option ng-repeat="Sexo in arraySexo" value="{{Sexo._id}}">{{Sexo.Genero}}</option>                                    
                                                        </optgroup>
                                                    </select>
                                                </div>  
                                                
                                            </div>      
                                        </div>

                                        <div class="box-header">
                                            <h2 class="box-title"><i class="fa fa-folder"></i> Antecedentes del alumno</h2>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="Control-group">
                                                        <label for="txtInstitucionProcedencia">Institucion de procedencia<small class='text-red'>*</small></label>
                                                        <input type="text" name='txtInstitucionProcedencia' id='txtIdAltxtInstitucionProcedenciaumno' placeholder='Institucion de procedencia' class='form-control'
                                                               ng-model="Antecedente.institucionProcedencia"/>
                                                    </div>
                                                </div>
                                                <div class='col-md-3'>
                                                    <label for="slcTipoEstudio">Tipo de estudio</label>
                                                    <select name="slcTipoEstudio" id="slcTipoEstudio"  class="form-control"ng-model="Antecedente._idTipoEstudioAntecedente" >
                                                        <optgroup label="Selecciona sexo">
                                                            <option  ng-repeat="Estudio in arrayTipoEstudio" value="{{Estudio._id}}">{{Estudio.Tipo_estudio_antecedente}}</option>                                    
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class='col-md-3'>
                                                    <label for="slcEntidadFederativa">Entidad Federativa</label>
                                                    <select  name="slcEntidadFederativa" id="slcEntidadFederativa"  class="form-control"ng-model="Antecedente._idEntidadFederativa" >
                                                        <optgroup label="Selecciona sexo">
                                                            <option  ng-repeat="Entidad in arrayEntidad" value="{{Entidad._id}}">{{Entidad.NOM_ENT}}</option>                                    
                                                        </optgroup>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txtFechaInicio">Fecha de inicio<small class='text-red'>*</small></label>
                                                        <input type="text" name='txtFechaInicio' id='txtFechaInicio' placeholder='0000-00-00' class='form-control calendario'
                                                        ng-model="Antecedente.fechaInicio" />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="Control-group">
                                                        <label for="txtFechaTerminacion">Fecha de terminacion<small class='text-red'>*</small></label>
                                                        <input type="text" name='txtFechaTerminacion' id='txtEtxtFechaTerminacionmail' placeholder='0000-00-00'
                                                         class='form-control calendario'
                                                        ng-model="Antecedente.fechaTerminacion" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="Control-group">
                                                        <label for="txtNumeroCedula">Numero de cedula <small class='text-red'>*</small></label>
                                                        <input type="text" name='txtNumeroCedula' id='txtNumeroCedula' placeholder='Numero de cedula' class='form-control'
                                                        ng-model="Antecedente.NoCedula" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  

                                 <div class="box-header">
                                <h2 class="box-title"><i class="fa fa-folder"></i> Calificaciones</h2>
                            
                                   
                                    
                                </br>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <button type="button" class="btn btn-primary pull-right"
                                            ng-click="DesbloquearText()">Calificar </button>
                                 </div>
                                       
                                    <div class="row" ng-repeat="mod in getGrados(Carrera.Modulos)">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <h3>Modulo {{mod + 1}}</h3>
                                            </div>
                                          
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped">
                                                        <thead>
                                                            <th width="5%">#</th>
                                                            <th width="35%">Materia</th>
                                                            <th width="5%">Calificacion</th>
                                                            <th width="20">Ciclo</th>
                                                            <th width="35%">Observacion</th>
                                                        </thead>
                                                        <tbody>
                                                            
                                                            <tr ng-repeat="cal in Calificaciones.grados[mod]">
                                                               
                                                                <td>{{$index+1}}</td>        
                                                                <td><input ng-disabled="true"  type="text"  ng-model="Asignaturas.grados[mod][$index].materia.Asignatura" class="form-control" /></td>                                                   
                                                                <td><input ng-disabled="formEnabled"  type="text"  ng-model="cal.materia.Calificacion" class="form-control" /></td>
                                                                <td><input ng-disabled="formEnabled"  type="text"  ng-model="cal.materia.Ciclo" class="form-control" /></td>
                                                                <td><select ng-disabled="formEnabled" ng-model="cal.materia._idObservaciones" class="form-control">
                                                                        <optgroup label="Seleccion la observacion">
                                                                            <option ng-repeat="tipo in Tipo_Observaciones" value="{{tipo._id}}">{{tipo.Descripcion}}</option>
                                                                        </optgroup>
                                                                    </select>
                                                                </td>
                                                        </tbody>
                                                    </table>
                                                
                                                </div>
                                            </div>
                                        </div>
                                      
                            </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="control-group">
                                                    <button type="button" class="btn btn-success form-control" name='btnEditar'
                                                    id='btnEditar' ng-click="btnEditarAlumno()"><i class="fa fa-save"> save</i>
                                                    </button>
                                                </div>
                                            </div>                   
                                            <div class="col-md-6 col-xs-6">
                                                <div class="control-group">
                                                    <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                                                </div>        
                                            </div>
                                            <div class="col-md-2">
                                                <input type="hidden" name='opc' id='opc' value='new' />
                                            </div>                      
                                        </div>       
                                    </div>
                                </form>
                        </div>
                            
                         


                    </div>
                </div>
            </div>
        </div>
    </section>
    
   





</div>