<div ng-controller="AlumnosCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> NUEVO ALUMNO
          
          <small>Carrera</small>
        </h1>
        
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Carreras"><i class="fa fa-institution"></i> Alumnos</a></li>
          <li class="active">Nuevo alumno</li>
        </ol>
    </section>
    
    <section class="content"  ng-init="Alumno._idCarrera= '{id}'" >
            <form action="" method='POST' name='frmAlumnos' id='frmAlumnos'  enctype="multipart/form-data">
                <div class="box box-info">
                    <div class="box-header">
                        <h2 class="box-title">Llenar obligatoriamente todos los campos</h2>
                    </div>
                    <div class="box-header">
                        <h2 class="box-title"><i class="fa fa-user"></i> Datos del alumno</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
                                <div class="col-md-3">
                                        <div class="Control-group">
                                            <label for="txtIdAlumno">No.Ctrl <small class='text-red'>*</small></label>
                                            <input type="text" name='txtIdAlumno' id='txtIdAlumno' placeholder='Identicador de carrera' class='form-control'
                                            ng-model="Alumno.USR" ng-disabled="formEnabled"/>
                                        </div>
                                    </div>
        
                            <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="txtNombre">Nombre <small class='text-red'>*</small> </label>
                                    <input type="text" name='txtNombre' id='txtNombre' placeholder='Nombre(s)' class='form-control'
                                    ng-model="Alumno.Nombre" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="txtAp_Paterno">Apellido paterno<small class='text-red'>*</small></label>
                                    <input type="text" name='txtAp_Paterno' id='txtAp_Paterno' placeholder=' Apellido paterno' class='form-control' 
                                    ng-model="Alumno.Ap_Paterno" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="txtAp_Materno">Apellido materno <small class='text-red'>*</small></label>
                                    <input type="text" name='txtAp_Materno' id='txtAp_Materno' placeholder='Apellido materno' class='form-control'
                                    ng-model="Alumno.Ap_Materno" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Control-group">
                                    <label for="txtEmail">Email <small class='text-red'>*</small></label>
                                    <input type="text" name='txtEmail' id='txtEmail' placeholder='correo@email.com' class='form-control'
                                    ng-model="Alumno.email" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="Control-group">
                                    <label for="txtCurp">CURP <small class='text-red'>*</small></label>
                                    <input type="text" name='txtCurp' id='txtEmtxtCurpail' placeholder='Curp' class='form-control'
                                    ng-model="Alumno.Curp" ng-disabled="formEnabled"/>
                                </div>
                            </div>
                           
                              <div class="col-md-3">
                                <div class="Control-group">
                                    <label for="txttipo">Fecha de Nacimiento <small class='text-red'>*</small></label>
                                    <input ng-disabled="formEnabled" type="text" name="txtfechanac" id="txtfechanac" ng-model="Alumno.FechaNacimiento" 
                                    class="form-control calendario" placeholder="0000-00-00"  />
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <label for="slcSexo">Sexo</label>
                                  <select ng-disabled="formEnabled" name="slcSexo" id="slcSexo"  class="form-control"ng-model="Alumno._idGenero" >
                                          <optgroup label="Selecciona sexo">
                                          <option  ng-repeat="Sexo in arraySexo" value="{{Sexo._id}}">{{Sexo.Genero}}</option>                                    
                                      </optgroup>
                                  </select>
                              </div>

                         
                        </div>
        
                    
                    </div>
                   
                     
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button type="button" class="btn btn-success form-control" name='btnguardar'
                                 id='btnguardar' ng-click="formEnabled?  btnNuevo(): btnGuardarAlumno()">
                                 <i class="fa fa-{{formEnabled? 'new':'save'}}"></i>
                                 {{formEnabled? "Nuevo":"Crear"}} Alumno
                                 </button>
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-xs-6">
                            <div class="control-group">
                                <button type="button" class='btn btn-bitbucket form-control' name='btnregresar' id="btnregresar" ng-click="btnRegresar()" >Regresar</button>
                            </div>
        
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" name='opc' id='opc' value='new' />
                        </div>
                       
                    </div>
        
                </div>
            </form>
        
        </div>
    </section>
    
   </div>