<section ng-controller="UsuariosCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Usuarios
        </h1>
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li class="active">Usuarios</li>
        </ol>
    </section>
    <section class="content" ng-init="rol = '{rol}'">
        <div class="box box-info">
            <div class="box-header with-border">
                <h2 class="box-title">Registro de Usuarios</h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <label for="slcSucursales">{{rol=="root"?"Instituto":"Sucursal"}}</label>
                        <select name="slcSucursales" id="slcSucursales" class="form-control" ng-model="Institucion.id" ng-change="btnGetUsuarios()">
                            <optgroup label="Selecciona un campus a generar la carrera">
                                <option ng-repeat="suc in arrayInstituciones" value="{{suc._id}}">{{suc.Institucion}}</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <button type='button' class='btn btn-primary' name="btnnuevo" id="btnnuevo" ng-click="btnNuevoUsuario()" ng-show="btnShow">
                            <i class="fa fa-book"></i> Nuevo Usuario
                        </button>
                        <span class="switch switch-lg pull-right">
                            <input type="checkbox" class="switch" id="switch-id" ng-model="historico" ng-click="getDocumentos()">
                            <label for="switch-id">Historico</label>               
                        </span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <th width="5%">#</th>
                                <th width="25%">USR</th>
                                <th width="35%">Nombre</th>
                                <th width="15%">Rol</th>
                                <th width="10%">Estatus</th>
                                <th width="10%">Acciones</th>
                            </thead>
                            <tfoot>
                                <th width="5%">#</th>
                                <th width="25%">USR</th>
                                <th width="35%">Nombre</th>
                                <th width="15%">Rol</th>
                                <th width="10%">Estatus</th>
                                <th width="10%">Acciones</th>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="user in arrayUsuarios">
                                    <td>{{$index+1}}</td>
                                    <td>{{user.Username}}</td>
                                    <td>{{user.Nombre}}</td>
                                    <td align="center">{{getTipoUsuario(user.Tipo_usuario)}}</td>
                                    <td align="center"><span class="label label-{{user.Estatus==1? 'success':'danger'}}">{{user.Estatus==1? "Activo":"Baja"}}</span></td>
                                    <td align="center">
                                        <button type = "button" name="btnEditar" id="btnEditar" class="btn btn-primary" title="Editar Usuario" ng-click="btnEditarUsuario(user._id)"><i class="fa fa-edit"></i></button>
                                        <button type = "button" name="btnEditar" id="btnEditar" class="btn btn-danger" title="Eliminar Usuario" ng-click="btnEliminarUsuario(user._id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>