<section ng-controller="UsuariosEditCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Usuarios
        </h1>
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Usuarios">Usuarios</a></li>
          <li class="active">Nuevo</li>
        </ol>
    </section>
    <section class="content" ng-init="USR._idUsr={id}">
        <div class="box box-info" ng-init="rol = '{rol}'">
            <div class="box-header with-border">
                <h2 class="box-title">Registro de nuevo usuario</h2>
            </div>
            <div class="box-body">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtnombre">Nombre(s)</label>
                            <input type="text" name="txtNombre" id="txtnombre" class="form-control" placeholder="Nombre(s) del usuario" ng-model="Usuario.Nombre" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtapPaterno">Apellido Paterno</label>
                            <input type="text" name="txtapPaterno" id="txtapPaterno" class="form-control" placeholder="Apellido paterno del usuario" ng-model="Usuario.Ap_Paterno" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtapMaterno">Apellido Materno</label>
                            <input type="text" name="txtapMaterno" id="txtapMaterno" class="form-control" placeholder="Apellido Materno del usuario" ng-model = "Usuario.Ap_Materno" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtCorreo">Correo Electronico</label>
                            <input type="email" name="txtCorreo" id="txtCorreo" class="form-control" placeholder="Correo electronico del usuario" ng-model = "Usuario.email" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="slcRol">Rol</label>
                            <select name="slcRol" id="slcRol" class="form-control" ng-model="Usuario.rol" ng-disabled="formEnabled" >
                                <optgroup label="Selecciona el tipo de rol del usuario">
                                    <option ng-repeat="tipo in arrayTipo_usuario | filter: {rol: rol}" value="{{tipo.valor}}">{{tipo.descripcion}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-primary pull-right" ng-click="formEnabled? btnEditarUsuario():btnGuardarUsuario()"><i class="fa fa-{{formEnabled? 'edit':'save'}}"></i> {{formEnabled? "Editar":"Guardar"}} Usuario</button>
                <button type="button" class="btn btn-default pull-right" ng-click="btnRegresar()"><< Regresar</button>
            </div>
        </div>
    </section>
</section>
