<section ng-controller="UsuariosNewCtrl">
    <section class="content-header">
        <h1>
          <i class="fa fa-institution"></i> Usuarios
        </h1>
        <ol class="breadcrumb">
          <li><a href="?mod=home"><i class="fa fa-dashboard"></i> Inicio</a></li>
          <li><a href="?mod=Usuarios">Usuarios</a></li>
          <li class="active">Nuevo</li>
        </ol>
    </section>
    <section class="content" ng-init="idCampus={id}">
        <div class="box box-info" ng-init="rol = '{rol}'">
            <div class="box-header with-border">
                <h2 class="box-title">Registro de nuevo usuario</h2>
            </div>
            <div class="box-body">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtnombre">Nombre(s)</label>
                            <input type="text" name="txtNombre" id="txtnombre" class="form-control" placeholder="Nombre(s) del usuario" ng-model="Usuario.Nombre" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtapPaterno">Apellido Paterno</label>
                            <input type="text" name="txtapPaterno" id="txtapPaterno" class="form-control" placeholder="Apellido paterno del usuario" ng-model="Usuario.Ap_Paterno" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtapMaterno">Apellido Materno</label>
                            <input type="text" name="txtapMaterno" id="txtapMaterno" class="form-control" placeholder="Apellido Materno del usuario" ng-model = "Usuario.Ap_Materno" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="txtCorreo">Correo Electronico</label>
                            <input type="email" name="txtCorreo" id="txtCorreo" class="form-control" placeholder="Correo electronico del usuario" ng-model = "Usuario.email" ng-disabled="formEnabled"/>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                            <label for="slcRol">Rol</label>
                            <select name="slcRol" id="slcRol" class="form-control" ng-model="Usuario.rol" ng-disabled="formEnabled" >
                                <optgroup label="Selecciona el tipo de rol del usuario">
                                    <option ng-repeat="tipo in arrayTipo_usuario | filter: {rol: rol}" value="{{tipo.valor}}">{{tipo.descripcion}}</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" ng-click="btnShowmodal()">Modal</button>
                <button type="button" class="btn btn-primary pull-right" ng-click="formEnabled? btnNuevoUsuario():btnCrearUsuario()"><i class="fa fa-{{formEnabled? 'new':'save'}}"></i> {{formEnabled? "Nuevo":"Crear"}} Usuario</button>
                <button type="button" class="btn btn-default pull-right" ng-click="btnRegresar()"><< Regresar</button>
            </div>
        </div>
    </section>


<div class="modal fade" tabindex="-1" role="dialog" id="Moduserpass" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo Usuario</h4>
            </div>
            <div class="modal-body">
                <label>Username</label>
                <p class="text-center">{{Usuario.username}}</p>
                <label>Contraseña</label>
                <p class="text-center">{{Usuario.password}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</section>